{% extends '_minbase.html' %}
{% load thaidate %}

{% block title %}
คำขอบ้านพัก
{% endblock %}



{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(6)):not(:last-child){
        text-align: center;
    }

  </style>
{% endblock %}

{% block header %}
คำขอบ้านพักบุคคล
{% endblock %}

{% block header_right %}{{ request.user.FullName}}{% endblock %}

{% block content%}
    <div >
        <div >
        {% if not object_list %}
            <h3>ไม่มีประวัติคำขอบ้านพักในระบบ</h3>
        {% else %}
            <table class="table table-bordered table-striped">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="100">

                    <col width="250">
                    <col width="120">
                    <col width="180">
                    <col width="100">
                    <col width="100">

                    <col width="60">
                    <col width="60">               
                    <col width="60">
                    <col width="80">

                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>
                        <th>วันส่ง</th>

                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>เงินเดือน + เงินเพิ่ม</th>
                        <th>สถานภาพ</th>
                        <th>ผู้อาศัยร่วม</th>

                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>สถานะ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% include "HomeRequest/row_data/af_row_data.html" with object=object %} 
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}