{% extends '_minbase.html' %}
{% load static %}
{% load thaidate %}


{% block title %}คำขอบ้านพัก{% endblock %}


{% block scriptlink %}
    <script src="{% static 'my_script/modal-with-custom-action.js'%}"></script>
  
{% endblock %}


{% block script %}
    function modal_hr_detail(hr_id)
    {
        urltext = "{% url 'HomeRequest:md' 99999 %}"
        
        new_urltext = urltext.replace("99999",hr_id)
        console.log(new_urltext)
        fetch_show_modal(new_urltext);
    }

{% endblock %}

{% block style %}
  
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(6)):not(:last-child){
        text-align: center;
    }

        :root {
            --prm-color: #0381ff;
            --prm-gray: #b1b1b1;
        }

    td a {
        font-size:smaller;
        text-decoration: none;
        color:green;
    }

    .steps {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        position: relative;
    }

    .step-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: var(--prm-gray);
        transition: .4s;
    }

    .step-button[aria-expanded="true"] {
        width: 60px;
        height: 60px;
        background-color: var(--prm-color);
        color: #fff;
    }

    .done {
        background-color: var(--prm-color);
        color: #fff;
    }

    .step-item {
        z-index: 10;
        text-align: center;
    }

    #progress {
    -webkit-appearance:none;
        position: absolute;
        width: 95%;
        z-index: 5;
        height: 10px;
        margin-left: 18px;
        margin-bottom: 18px;
    }

    /* to customize progress bar */
    #progress::-webkit-progress-value {
        background-color: var(--prm-color);
        transition: .5s ease;
    }

    #progress::-webkit-progress-bar {
        background-color: var(--prm-gray);

    }
}
  </style>
{% endblock %}

{% block header %}
คำขอบ้านพักบุคคล
{% endblock %}

{% block header_right %}{{ request.user.FullName}}{% endblock %}

{% block content%}
    {% if has_request %}  
        {% include "HomeRequest/process_step.html" with object=object_list.0 %}
    {% endif %}
    <div>
        <div>      
        {% if not has_request %}  
        <a class = "btn btn-info  mb-3 shadow" href = "{% url 'HomeRequest:create'%}" >สร้างรายงานขอบ้านพัก</a>
        {% endif %}

        {% if not object_list %}
            <h3>ไม่มีประวัติคำขอบ้านพักในระบบ</h3>
        {% else %}
            <table class="table table-bordered table-striped">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="100">

                    <col width="250">
                    <col width="120">
                    <col width="180">
                    <col width="100">
                    <col width="100">

                    <col width="60">
                    <col width="60">               
                    <col width="60">
                    <col width="80">

                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>
                        <th>วันส่ง</th>

                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>เงินเดือน + เงินเพิ่ม</th>
                        <th>สถานภาพ</th>
                        <th>ผู้อาศัยร่วม</th>

                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>สถานะ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% include "HomeRequest/row_data/af_row_data.html" with object=object %} 
                {% endfor %}
                </tbody>
            </table>
            {% comment %} <a href="{% url 'HomeRequest:md' %}" data-toggle="modal" data-target="#theModal">Lab 6</a> {% endcomment %}
        {% endif %}
        </div>
    </div>

{% endblock %}

{% block modal %}
{% endblock modal %}