{% extends '_minbase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}ARMIS แบบฟอร์มขอบ้านพัก{% endblock %}

{% block header %}แบบฟอร์มขอบ้านพัก{% endblock %}

{% block scriptlink %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block script %}
<script>
    var home_zone_full_options_html;
    var priority_selected = [];
    var all_choices = ['1','2','3','6T','6S','7S','BS'];

    function addzone(v1, v2)
    {
        var result = new Array();
        for(i = 0;i < Math.max(v1.length,v2.length) ;i++)
        {
            if(v1[i] != 0)
                result.push(v1[i]);
            else if(v2[i] != 0)
                result.push(v2[i]);  
            else              
                result.push(0);  
        }
        return result;
    }

    function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    function isEmptyOrSpaces(str){
        return str === null || str.match(/^ *$/) !== null;
    }

    function checkID(id) {
        if (id.length != 13) return false;

        if(isNaN(parseFloat(id)))             return false;

        for (i = 0, sum = 0; i < 12; i++)
            sum += parseFloat(id.charAt(i)) * (13 - i);

        if ((11 - sum % 11) % 10 != parseFloat(id.charAt(12)))
            return false;

        return true;
    }

    function check_personid_element(element)
    {
        data_ok = true;
        // console.log("check_personid_element ",element);
        if(! checkID($(element).val())){
            $(element).css("box-shadow","0 0 10px #e80c4d");
            $( `label[for='${element}']` ).html("<span class = 'text-danger'>รหัสบัตร ปชช.ไม่ถูกต้อง</span>");                
            data_ok = false;
        }
        else
        {
            $( `label[for='${element}']` ).html("รหัสบัตร ปชช.");                
            $(element).css("box-shadow","");
        }
      
        return data_ok;
    }

    function check_email_element(element_list)
    {
        data_ok = true;
        element_list.forEach(function (item, index) {
            if(! validateEmail($(item).val())){
                $(item).css("box-shadow","0 0 10px #e80c4d");
                data_ok = false;
            }
            else
                $(item).css("box-shadow","");
        });
        return data_ok;
    }

    function check_empty_element(element_list)
    {
        data_ok = true;
        element_list.forEach(function (item, index) {
            if(isEmptyOrSpaces($(item).val())){
                $(item).css("box-shadow","0 0 10px #e80c4d");
                data_ok = false;
            }
            else
                $(item).css("box-shadow","");
        });
        return data_ok;
    }

    function form_validate(submit_action)
    {
        var error_element = [];
    
        var data_completed = true;            

        // ข้อมูลที่ต้องกรอกให้ครบก่อนบันทึก
        data_completed &&= check_empty_element(["#id_hr-Position", "#id_userdata-OfficePhone", "#id_userdata-MobilePhone"]);
        if (!data_completed)
            error_element.push("basic_data");

        if(!data_completed){
            document.getElementById("basic_data").scrollIntoView();
            if(submit_action === 'save')
                return false;
        }
        else if(submit_action === 'save')            
            return confirm("บันทึกเพื่อส่งภายหลัง");                 
        
        // ข้อมูลที่ต้องกรอกให้ครบก่อนส่ง

        cee = check_email_element(["#id_userdata-RTAFEMail", "#id_userdata-email"]);
        if (!cee)
        {
            error_element.push("basic_data");
            data_completed = false;
        }

        let married = ["2","7"];

        // ถ้าสถานะคือสมรส จะต้องมีข้อมูลคู่สมรส    
        if(married.includes($("#id_hr-Status").val()))
        {
            cee = check_empty_element(["#id_hr-SpouseName","#id_hr-SpousePID"]);            
            cpe = check_personid_element("#id_hr-SpousePID")
            if(!cee || !cpe)
            {
                error_element.push("basic_data");
                data_completed = false;
            }

            {# ถ้ามีข้อมูลไฟล์ของใบรับรองจากคู่สมรสอยู่แล้ว ก็จะไม่ตรวจสอบ #}
            {% if not form.SpouseApproved.value %} 
            if( $('#id_hr-SpouseApproved').get(0).files.length === 0){
                // ถ้ายังไม่มีการ upload มาก่อน ก็ต้อง upload
                $("#id_hr-SpouseApproved").css("box-shadow","0 0 10px #e80c4d");                                        
                error_element.push("Evidence");
                data_completed = false;
            }
            {% endif %}
        }

        if($("[name = 'hr-RentPermission']:checked").val() == '3')
            {
                cee = check_empty_element(["#id_hr-RentalCost"]);
                if(!cee)
                {
                    error_element.push("addressData");
                    data_completed = false;
                }               
            } 
        
        {# ถ้ามีข้อมูลไฟล์สำเนาทะเบียนบ้าน ก็จะไม่ตรวจสอบ #}
        {% if not  form.HouseRegistration.value %}
        if( $('#id_hr-HouseRegistration').get(0).files.length === 0){
            $("#id_hr-HouseRegistration").css("box-shadow","0 0 10px #e80c4d");                          
            error_element.push("Evidence");
            data_completed = false;            
        } 
        {% endif %}

        cee = check_empty_element(["#id_hr-Address","#id_hr-GooglePlusCodes1","#id_hr-TravelDescription","#id_hr-distance"]);
        GooglePlusCodes = $("#id_hr-GooglePlusCodes1").val();
        GooglePlusCodes = GooglePlusCodes.replaceAll(/\s/g,'');
        // console.log(GooglePlusCodes);
        // console.log(GooglePlusCodes.length);
        if(GooglePlusCodes.length < 10)
        {
            $("#id_hr-GooglePlusCodes1").css("box-shadow","0 0 10px #e80c4d");
            $("#forGooglePlusCodes1").html("Google Plus Codes <span class = 'text-danger'>ต้องใส่ข้อมูลจังหวัดด้วย</span>");                        
            cee = false;
        }
        else{
            $("#id_hr-GooglePlusCodes1").css("box-shadow","");
            $("#forGooglePlusCodes1").html("Google Plus Codes");                        
        }
        if($("#id_hr-distance").val() == 0)
        {
            $("#id_hr-distance").css("box-shadow","0 0 10px #e80c4d");            
            cee = false;
        }
        else{
            $("#id_hr-distance").css("box-shadow","");            
        }
        
        if(!cee)
        {
            error_element.push("addressData");
            data_completed = false;
        }
        
        TravelDescription = $("#id_hr-TravelDescription").val();
        if(TravelDescription.length < 20){
            $("#id_hr-TravelDescription").val("กรุณาบรรยายให้ละเอียด : " + TravelDescription);
            $("#id_hr-TravelDescription").css("box-shadow","0 0 10px #e80c4d");
            error_element.push("addressData");
            data_completed = false;
        }

        is_home_need = $('#id_hr-IsHomeNeed').is(":checked");
        is_flat_need = $('#id_hr-IsFlatNeed').is(":checked");
        is_shop_need = $('#id_hr-IsShopHouseNeed').is(":checked");

        if(!(is_home_need || is_flat_need || is_shop_need))
        {
            $("#house_type").css("box-shadow","0 0 10px #e80c4d");
            error_element.push("HomeZone");
            data_completed = false;
        }
        else
        {            
            $("#house_type").css("box-shadow","");         
        }


        ZoneSelect = $("select[data-priority=1]").val();
        // console.log('Zone Select = ',ZoneSelect == '')
        if(ZoneSelect == '')
        {            
            $("select[data-priority=1]").css("box-shadow","0 0 10px #e80c4d");
            error_element.push("HomeZone");
            data_completed = false;
        }
        else
        {            
            $("select[data-priority=1]").css("box-shadow","");
        }

        // ตรวจการกรอกเลขบัตรประชาชน
        $('[id ^=id_CoResident][id $=PersonID]').each(function(i, element) {
            // console.log(element)
            elementid = "#" + element.id;
            // console.log('elementid = ',elementid);
            element_value =  $(elementid).val();
            // console.log('element_value.length = ',element_value.length);
            if(element_value.length > 0)
            {
                // console.log('element_value = ',element_value);
                // console.log('elementid = ',elementid);
                // console.log('data_completed = ',data_completed);
                error_element.push("CoResidenceData");
                cpe = check_personid_element(elementid);
                data_completed &&= cpe;
            }
        });
        
        

        // ตรวจการกรอกวันเกิด
        $('[id ^=id_CoResident][id $=BirthDay]').each(function(i, element) {
            // console.log(element)
            elementid = "#" + element.id;
            // console.log('elementid = ',elementid);
            element_value =  $(elementid).val();
            // console.log('element_value.length = ',element_value.length);
            if(element_value.length > 6)
            {
                birthday = new Date(element_value);
                // console.log('birthday = ', birthday);
                var ageDifMs = Date.now() - birthday;
                var ageDate = new Date(ageDifMs); // miliseconds from epoch
                // return Math.abs(ageDate.getUTCFullYear() - 1970);          
                $(elementid).css("box-shadow","");      
            }
            else
            {
                if (! $(elementid).is($("[id ^=id_CoResident][id $=BirthDay]:last")) ) 
                {
                    $(elementid).css("box-shadow","0 0 10px #e80c4d");
                    error_element.push("CoResidenceData");
                    data_completed = false;
                }
            }
        });


        if(!data_completed){
            unique_error_element = [...new Set(error_element)];
            // console.log("unique_error_element = ",unique_error_element)
            first_error_zone = unique_error_element[0];
            document.getElementById(first_error_zone).scrollIntoView();
            return false;
        }
        return confirm("เมื่อส่งข้อมูลจะไม่สามารถแก้ไขได้อีก และจะต้อง download รายงานและส่งทางธุรการด้วย");
    }



    $(document).ready(function(){

        var remain_options = [];
        var remain_options_html = [];
        var home_zone_option = [];
        var home_zone_full_options_html = []
        var form_save_or_send = "save";
        var rank = {{ request.user.Rank }};
        var user_status = {{ request.user.current_status }};
        var select_option = ['1','2','3','6T','6S','7S','BS'];        
        $('#id_hr-IsFlatNeed').prop('checked', true);

        function setZoneSelectOption()
        {
            var user_sex = "{{request.user.Sex}}";
            var user_unit = "{{request.user.CurrentUnit.ShortName }}";
            var is_home_need = $('#id_hr-IsHomeNeed').is(":checked");
            var is_flat_need = $('#id_hr-IsFlatNeed').is(":checked");
            var is_shop_need = $('#id_hr-IsShopHouseNeed').is(":checked");

            select_option = [0,0,0,0,0,0,0];
            // ถ้าเลือกสักช่องนึง
            if(is_home_need || is_flat_need || is_shop_need)
            {
                user_status = $("#id_hr-Status").val();
                
                family_right = ["2","3","4","7"];
                // console.log('user_status = ',user_status)
                // console.log('typeof(user_status) = ',typeof(user_status))
                // console.log('family_right.includes(user_status) = ', family_right.includes(user_status))
                if(rank <= 30302) // น.อ.พิเศษขึ้นไป
                {
                    // console.log('select_option = ',select_option)

                    if(is_home_need)
                        select_option = addzone(select_option, ['1','2','3',0,0,0,0]);
                    if(is_flat_need)
                        select_option = addzone(select_option, ['1','2','3','6T','6S',0,'BS']);
                    if(is_shop_need)
                        select_option = addzone(select_option, ['1','2','3','6T', 0, 0,'BS']);
                    // console.log('น.5 +  - select_option = ', select_option)
                }
                else if(user_status == 1) // กรณีสถานภาพเป็นโสด
                {
                    // console.log('โสด - rank = ',rank);
                    // console.log('โสด - user_sex = ',user_sex);
                    
                    // ชั้นสัญญาบัตร โสด
                    if(rank <= 30500 || (rank > 31400 && rank < 31600)) 
                    {
                        // console.log('โสด - if rank');
                        if(user_sex == "ชาย")
                        {
                            select_option = addzone(select_option, ['1',0,'3',0,0,0,0]);
                            // console.log('โสด - if rank if sex ช.');
                        }
                        if(user_sex == "หญิง")
                        {
                            select_option = addzone(select_option, [0,'2','3',0,0,0,0]);
                            // console.log('โสด - if rank if sex ญ.');
                        }
                    }
                    else // ชั้นประทวน โสด
                    {
                        if(user_sex == "ชาย")
                        {
                            select_option = addzone(select_option, ['1',0,'3',0,0,0,0]);
                            // console.log('โสด - if rank if sex ช.');
                        }
                        if(user_sex == "หญิง")
                        {
                            select_option = addzone(select_option, [0,'2','3',0,0,0,0]);
                            // console.log('โสด - if rank if sex ญ.');
                        }
                    }
                    // console.log('โสด - select_option = ', select_option)
                }
                else if(family_right.includes(user_status)) // กรณีสถานภาพสมรส หย่าร้าง ม่าย
                {
                    if(rank <= 30500 || (rank > 31400 && rank < 31600)) // ชั้นสัญญาบัตร
                    {   
                        // console.log('สมรส - if rank')
                        if(is_flat_need)
                        {
                            // console.log('สมรส - if rank if flat');
                            select_option = addzone(select_option, ['1','2','3','6T' ,'6S', 0 ,'BS']);
                        }
                        if(is_shop_need)
                        {
                            // console.log('สมรส - if rank if shop');
                            select_option = addzone(select_option, ['1','2','3',0, '6S', 0, 0 ]);
                        }
                    }
                    // console.log('สมรส - select_option = ', select_option)
                    else{
                        // console.log('สมรส - if rank')
                        if(is_flat_need)
                        {
                            // console.log('สมรส - if rank if flat');
                            select_option = addzone(select_option, ['1','2', 0, 0,'6S', 0 , 0]);
                        }
                        if(is_shop_need)
                        {
                            // console.log('สมรส - if rank if shop');
                            select_option = addzone(select_option, [0 ,'2', 0, 0, '6S', 0, 0 ]);
                        }                    
                    }

                }
                if (user_unit == "อย.")
                {
                    select_option = addzone(select_option, [0,0,0,0, 0, '7S', 0 ]);
                }
            }// จบกรณีเลือกต้องการบ้านประเภทใดประเภทหนึง
            // console.log('select_option = ',select_option);
            remain_options = [];
            remain_options_html = [];
            
            // remain_options = select_option;
            remain_options_html.push(home_zone_full_options_html[0]);                                       
            for(i = 0; i < home_zone_full_options_html.length;i++)
            {
                if(select_option[i] != 0 )
                {
                    // console.log("- typeof select_option[i]", typeof select_option[i]);
                    // console.log("- i = ",i,"select_option[i] = ",select_option[i]);
                    remain_options.push(select_option[i]);
                    remain_options_html.push(home_zone_full_options_html[i+1]);                    
                }
            }
            home_zone_option = remain_options;
            
            // console.log("initial combo 1 = ", remain_options_html)
            $("select[data-priority=1]").html(remain_options_html);

            for(i = 2; i <= 6; i++)
            {
                if($(`select[data-priority='${i}']`).val() == '')
                    $(`select[data-priority='${i}']`).prop('disabled', 'disabled');
            }
        }

        $("select[data-priority=1] option").each(function(){
            optionValue = this.value;
            optionText =  this.innerHTML;
            if($(this).is(':selected'))
                optiontext = `<option value="${optionValue}" selected >${optionText}</option>`;
            else
                optiontext = `<option value="${optionValue}">${optionText}</option>`;
            home_zone_full_options_html.push(optiontext);
        });

        for(i = 2; i <= 6; i++)
        {
            if($(`select[data-priority='${i}']`).val() == '')
                $(`select[data-priority='${i}']`).prop('disabled', 'disabled');
        }

        $('#id_hr-IsHomeNeed, #id_hr-IsFlatNeed, #id_hr-IsShopHouseNeed, #id_hr-Status').change(function() {
            // console.log('check box change');
            setZoneSelectOption();    
            for(i = 2; i <= 6; i++)
            {
                $(`select[data-priority='${i}']`).val(0);
                $(`select[data-priority='${i}']`).prop('disabled', 'disabled');
            }        
        });
         

        function setMarriedComponent(married, widow_divote)
        {
            married = $("#id_hr-Status").val() == 2 || $("#id_hr-Status").val() == 7;
            widow_divote = $("#id_hr-Status").val() == 3 || $("#id_hr-Status").val() == 4;

            $("#div_id_hr-IsHRISReport").toggle(married || widow_divote);
            $("#SpouseData").toggle(married);
            // $("#div_id_hr-spouse_office").toggle(married);
            $("#SpouseDataID").toggle(married);
            // $("#div_id_hr-SpouseAFID").toggle(married);
            // $("#div_id_hr-IsNotRTAFHome").toggle(married);
            $("#div_id_hr-num_children").toggle(married || widow_divote);
            $("#div_id_hr-num_study_children").toggle(married || widow_divote);

            $("#HomeRentSpouse").toggle(married);
            $(".SpouseEvidence").toggle(married);
            $(".widow_divote").toggle(widow_divote);

            $("#id_hr-IsShopHouseNeed").prop('disabled', ! (married || widow_divote));
        }

        // ตรวจการกรอกข้อมูลวันเกิด
        $('[id ^=id_CoResident][id $=BirthDay]').change(function() {
            let bd_date =  new Date($(this).val());
            let year = bd_date.getFullYear();
            if(year > 2100)
            {
                let day = bd_date.getDate();
                let month = bd_date.getMonth();

                // console.log("" + (year-543) + "-" + month + "-" + day);
                text_day = ("0" + day).slice(-2);
                text_month = ("0" + month).slice(-2);
                alert("กรุณากรอกวันเกิดด้วยปี ค.ศ.");
                // console.log("" + (year-543) + "-" + text_month + "-" + text_day);
                $(this).val("" + (year-543) + "-" + text_month + "-" + text_day);
            }
            
        });

        $('#add_more').click(function(event) {
            event.preventDefault();
            cloneMore('.CoResident:last', 'service');
        }); 

        $('#consent_form').click(function(event) {
            spouse_name = $("#id_hr-SpouseName").val();
            if(spouse_name.length < 5)
            {
                spouse_name = prompt("กรุณากรอกชื่อคู่สมรส");
                $("#id_hr-SpouseName").val(spouse_name);
            }

            if(spouse_name.length > 5)
            {
                $('#if_spouse_name').val(spouse_name);
                address = $("#id_hr-Address").attr("value");
                address = address.replace("   "," ")
                // console.log('address = ',address)
                $('#if_address').val(address);
                $('#invisible_form').submit();
            }            
        }); 

        $("#id_hr-Status").change(function() {
            alert("การแก้ไขสถานภาพสมรส อนุญาตเฉพาะผู้ที่ส่งรายงานขอแก้ไขให้ กพ.ทอ.แล้วและรายงานอยู่ในขั้นตอนการดำเนินการเท่านั้น กรณีอื่น ๆ ถือว่าแก้ไขข้อมูลโดยไม่ถูกต้อง");
            setMarriedComponent();
        });

        $("[name = 'hr-RentPermission']").change(function() {

            has_rent_permission = $("[name = 'hr-RentPermission']").find('option:selected').val() == '3';
            // console.log('has_rent_permission =', $("[name = 'hr-RentPermission']").find('option:selected').val());
            $("#div_id_hr-RentalCost").toggle(has_rent_permission);
            $("#SelfHomeRent").toggle(has_rent_permission);
        });

        $("#id_hr-IsNeverRTAFHome").change(function() {
            IsNeverRTAFHome = ! $('#id_hr-IsNeverRTAFHome').is(":checked");
            $("#div_id_hr-RTAFHomeLeaveReason").toggle(IsNeverRTAFHome);
        });

        
        $("#id_hr-HouseRegistration, #id_hr-SpouseApproved, #id_hr-MarriageRegistration, #id_hr-DivorceRegistration, #id_hr-SpouseDeathRegistration"
            ).on("change", function (e) {

            if (typeof this.value !== 'undefined') 
                return ;

            var ext = this.value.match(/\.([^\.]+)$/)[1];

            if(ext.toLowerCase() != 'pdf'){
                alert('เฉพาะ pdf file เท่านั้น');
                this.value = '';
                return ;
            }
            if(this.files[0].size > 2098576){
                alert("ไฟล์ใหญ่เกินไป ขนาดไฟล์ต้องไม่เกิน 2 MB");
                this.value = "";
            };    
        });

        $("#id_hr-SpouseApproved"
            ).on("change", function (e) {
                
            if (typeof this.value !== 'undefined') 
                return ;
            var ext = this.value.match(/\.([^\.]+)$/)[1];

            if(ext.toLowerCase() != 'pdf'){
                alert('เฉพาะ pdf file เท่านั้น');
                this.value = '';
                return ;
            }
            if(this.files[0].size > 3198576){
                alert("ไฟล์ใหญ่เกินไป ขนาดไฟล์ต้องไม่เกิน 3 MB");
                this.value = "";
            };    
        });

        $('[data-priority]').change(function(){
            changed_item = $(this).data('priority');
            selected_value = $(`select[data-priority='${changed_item}']`).val();
            // console.log('changed_item = ',changed_item);
            // ปรับขนาด array ตัวที่เลือกไว้แล้วให้ถูกต้อง
            priority_selected.length = changed_item - 1;

            //ถ้าไม่ได้เลือกอะไร ก็ทำให้ตัวถัดไปว่าง (รอเลือก)
            if($(this).find(':selected').val() == '')
            {
                $(`select[data-priority='${changed_item+1}']`).prop('disabled', 'disabled');                
            }
            // ถ้ามีการเลือก Zone ก็บันทึกตัวที่เลือกไว้
            else
            {
                priority_selected.push($(this).find(':selected').val());
                $(`select[data-priority='${changed_item+1}']`).prop('disabled', false);
            }

            // ดูตัวเลือกที่เหลือใหม่
            remain_options = select_option.filter(n => !priority_selected.includes(n));
            
            // console.log('select_option = ',select_option);
            // console.log('priority_selected = ',priority_selected);
            // console.log('remain_options = ',remain_options);
            // console.log('-remain_options_html = ', remain_options_html);
            

            // ใส่  Option ที่เหลือให้ Select ตัวถัดไป
            $(`select[data-priority='${changed_item+1}']`).focus();

            // console.log('home_zone_full_options_html = ', home_zone_full_options_html);
            // console.log('-home_zone_option = ', home_zone_option);
            // console.log('-priority_selected = ', priority_selected);
            // console.log('-remain_options = ', remain_options);
            // remain_options = [];
            remain_options_html = [];            
            
            remain_options_html.push(home_zone_full_options_html[0]);
            for(i = 0; i < remain_options.length; i++)
            {
                // สำหรับตัวที่เหลือแต่ละตัวที่ไม่ใช่ 0
                if(remain_options[i] != 0)
                {
                    // หาว่าตัวนั้นอยู่ที่ตำแหน่งไหน
                    index = select_option.indexOf(remain_options[i]);
                    // เอามาใส่ Option ให้เลือก
                    remain_options_html.push(home_zone_full_options_html[index+1]);
                }
            }

            $(`select[data-priority='${changed_item+1}'] option`).empty();
            $(`select[data-priority='${changed_item+1}']`).html(remain_options_html);

            for(i = changed_item + 2; i <= 6; i++)
            {
                $(`select[data-priority='${i}']`).prop('disabled', 'disabled');
                $(`select[data-priority='${i}']`).val('');
            }
        });

        // ตรวจสอบการกรอกเลขบัตร ปชช.คู่สมรส แล้วไปเช็คกับข้อมูลค่าเช่าบ้าน
        $("#id_hr-SpousePID, [id ^=id_CoResident][id $=PersonID]").on("input", function() {
            
            var person_id = $(this).val();
            var element_id = $(this).attr("id");

            // console.log("keypress ",element_id)
            // console.log("keypress ",person_id)
            if(person_id.length > 10) {
                if(checkID(person_id))
                {
                    $(`label[for=${element_id}]` ).html("เลขบัตร ปชช. <i class='fa fa-check text-success'></i>");
                    $("#"+element_id).css("box-shadow","");
                    // ตรวจสอบข้อมูลการเบิก คชบ.
                    if(element_id == "id_hr-SpousePID")
                    {
                        urltext = "{% url 'Payment:GetRent'  99999 %}";
                        new_urltext = urltext.replace("99999",person_id)
                        // console.log(new_urltext);

                        fetch(new_urltext)
                            .then(response => response.json())
                            .then(data => {                            
                                if(data.money > 0)
                                {
                                    $("#id_hr-have_rent_spouse").prop('checked', true);
                                    $("#id_hr-RentalCostSpouse").val(data.money);
                                    alert("ตรวจสอบพบข้อมูลการเบิก คชบ. ของคู่สมรส");
                                }
                            });
                    }
                }else
                {
                    $( `label[for=${element_id}]` ).html("เลขบัตร ปชช. <span class = 'text-danger'>(ไม่ถูกต้อง)</span>");
                }

            }
        });

        function cloneMore(selector, type) {
            var newElement = $ (selector).clone(true);
            // console.log($(newElement));

            var total = $('.CoResident').length;
            newElement.find('div').each(function() {
                //var name = $(this).attr('class').replace('odd','even');
                var name = $(this).attr('class').replace('even','odd');
                // console.log(name);
            });

            newElement.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                // console.log(name);                
                var hidden_element_name = new RegExp("home_request$").test(name);
                if(name)
                    $(name).val(10);

                var id = 'id_hr-' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_CoResident-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }
        
        setMarriedComponent();

        IsNeverRTAFHome = ! $('#id_hr-IsNeverRTAFHome').is(":checked");
        $("#div_id_hr-RTAFHomeLeaveReason").toggle(IsNeverRTAFHome);

        has_rent_permission = {{ form.RentPermission.value|default_if_none:"0" }} == 3;
        $("#div_id_hr-RentalCost").toggle(has_rent_permission);

        var allow_home_need = false;

        {% if request.user.Rank >= 30411 %}
            allow_home_need = true;
            $( "label[for='id_hr-IsHomeNeed']" ).text("ต้องการบ้านพัก (ชั้นนายพลอากาศ)");
        {% endif %}
        $("#id_hr-IsHomeNeed").attr("disabled", allow_home_need);

        var allow_family_home = false;
        {% if form.Status.value|stringformat:"i" not in "2,3,4,7" %}
            allow_family_home = true;
            $("label[for='id_hr-IsShopHouseNeed']").text("ต้องการห้องแถว (เฉพาะผู้รายงานสถานภาพ 'สมรส')");
        {% endif %}

        $("#id_hr-IsShopHouseNeed").attr("disabled", allow_family_home);

        setZoneSelectOption();
        // console.log('home_zone_full_options_html = ',home_zone_full_options_html);
    });

    console.log('%cหยุด', 'color: red; font-size: 60px; font-weight: bold;');
    console.log('%cการแก้ไข script จะทำให้ข้อมูลมีความผิดพลาด ท่านอาจเสียสิทธิการขอบ้านพักอาศัย และสามารถตรวจสอบย้อนกลับหาตัวผู้แก้ไขได้ไม่ยาก', 'color: red; font-size: 20px; font-weight: bold;');
    console.log('%cหากท่านมีความสามารถ และต้องการมาร่วมงานกับเรา กรุณาติดต่อ 2-8285', 'color: red; font-size: 20px; font-weight: bold;');
     

</script>
{% endblock %}

{% block style %}
<style>
    select[disabled]{ color:#aaa;  }

    .icon-size {font-size: 20px;}

    .cr-row:hover {
        background-color: rgb(192,224,192);        
    }
    .pointer {cursor: pointer;}
</style>    
{% endblock%}

{% block content%}
<form id="invisible_form" action="{% url 'HomeRequest:ConsentForm' %}" method="post" target="_blank">
    {% csrf_token %}  
    <input id="if_spouse_name" name="if_spouse_name" type="hidden">
    <input id="if_address" name="if_address" type="hidden">
</form>
    <!-- 
    <form method = "POST" id = "hr_form" onsubmit="return false;"  enctype="multipart/form-data" >
      -->
    <form method = "POST" id = "hr_form" enctype="multipart/form-data" >
        
    {% csrf_token %}  
    <div class="card shadow">
        <div class="card-header bg-info">
            <h5>1. ข้อมูลพื้นฐาน</h5>
        </div>
        <div class="card-body" id = "basic_data">
            <div class="row">
                <div class="col-md-2">
                    {{ form.FullName |as_crispy_field  }}
                </div>
                <div class="col-md-3">
                    {{ form.Position |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ form.sub_unit |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ form.Unit |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ form.Salary |as_crispy_field }}
                </div>
                <div class="col-md-1">
                    {{ form.AddSalary |as_crispy_field  }}
                    {{ form.Comment  }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form.Status |as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.IsHRISReport |as_crispy_field  }}
                </div>
                <div id = "SpouseData" class="col-md-3">
                    {{ form.SpouseName |as_crispy_field  }}
                    {{ form.spouse_office |as_crispy_field  }}
                </div>
                <div id = "SpouseDataID" class="col-md-2">
                    {{ form.SpousePID |as_crispy_field  }}
                    {{ form.SpouseAFID |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ form.num_children |as_crispy_field  }}
                    {{ form.num_study_children |as_crispy_field  }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ user_current_data_form.OfficePhone |as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ user_current_data_form.MobilePhone |as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ user_current_data_form.RTAFEMail |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ user_current_data_form.email |as_crispy_field  }}
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mt-3">
        <div class="card-header bg-secondary text-white">
            <h5>2. ข้อมูลที่พักอาศัยและการเบิกค่าเช่าบ้าน</h5>
        </div>
        <div class="card-body" id = "addressData">
            <div class="row">
                <div class="col-md-5">
                    {{ form.Address |as_crispy_field }}
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_hr-GooglePlusCodes1" class="form-label" id = "forGooglePlusCodes1">
                            Google Plus Codes
                        </label>
                            <a href = "https://thestandard.co/google-maps-launched-plus-codes/" target = "_blank">คืออะไร</a>, 
                            <a href="https://plus.codes/map/" target="_blank">หาพิกัด</a>
                        {% comment %} <input type="text" name="hr-GooglePlusCodes1" maxlength="20" class="textinput textInput form-control" id="id_hr-GooglePlusCodes1"> {% endcomment %}
                        {{ form.GooglePlusCodes1 | as_crispy_field }}
                    </div>
                    <input id="zipcode1" type="hidden">
                </div>                
                <div class="col-md-2">
                    {{ form.work_commute |as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.distance |as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     {{ form.TravelDescription |as_crispy_field  }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form.RentPermission |as_crispy_field }}
                </div>
                <div class="col-md-2"  id = "SelfHomeRent">
                    {{ form.have_rent |as_crispy_field }}
                    {{ form.RentalCost |as_crispy_field  }}
                </div>
                <div class="col-md-2" id = "HomeRentSpouse">
                    {{ form.have_rent_spouse |as_crispy_field }}
                    {{ form.RentalCostSpouse |as_crispy_field  }}
                </div>
                <div class="col-md-6">
                    {{ form.rent_comment |as_crispy_field }}
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mt-3">
        <div class="card-header bg-warning">
            <h5>3. ข้อมูลความจำเป็นและความเดือดร้อน (เลือกได้มากกว่า 1 ข้อ)</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    {{ form.IsNotBuyHome  |as_crispy_field}}
                    {{ form.ImportanceDuty |as_crispy_field  }}
                </div>
                <div class="col-md-3">
                    {{ form.IsNotOwnHome |as_crispy_field  }}
                    {{ form.IsMoveFromOtherUnit |as_crispy_field  }}
                </div>                
                <div class="col-md-3">
                    {{ form.ContinueHouse |as_crispy_field }}
                    {{ form.IsHomelessEvict |as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.IsNotRTAFHome |as_crispy_field  }}
                    {{ form.IsHomelessDisaster |as_crispy_field  }}
                </div>
            </div>        
            <div class="row">
                <div class="col-md-3">
                    {{ form.IsNeverRTAFHome |as_crispy_field  }}                    
                </div>
            </div>        
            <div>
                <div class="col-md-12">
                    {{ form.RTAFHomeLeaveReason |as_crispy_field  }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.OtherTrouble |as_crispy_field  }}    
                </div>
            </div>  
        </div>      
    </div>

    <div class="card shadow  mt-3" id = "HomeZone">
        <div class="card-header bg-info pb-0">
            <h5>4. ข้อมูลการเรียงลำดับความต้องการ  <a href = "#" data-bs-toggle="modal" data-bs-target="#home_zone_modal"><i class="fa fa-question-circle text-success"></i></a></h5>
        </div>
        <div class="card-body"  id = "house_type" >
            <div class="row">
                <div class="col-md-3">
                    {{ form.IsHomeNeed |as_crispy_field  }}
                </div>
                <div class="col-md-2">
                    {{ form.IsFlatNeed |as_crispy_field  }}
                </div>
                <div class="col-md-4">
                    {{ form.IsShopHouseNeed |as_crispy_field  }}
                </div>
            </div>        
            <div class="row">
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority1|as_crispy_field   }} 
                </div>                
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority2|as_crispy_field   }} 
                </div>                
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority3|as_crispy_field   }} 
                </div>
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority4|as_crispy_field   }} 
                </div>
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority5|as_crispy_field   }} 
                </div>
                <div class="col-md-2">
                    {{ form.ZoneRequestPriority6 |as_crispy_field    }} 
                </div>
            </div>
        </div>      
    </div>
    <div class="card shadow mt-3" id = "Evidence">
        <div class="card-header bg-primary text-white">
            <h5>5. เอกสารประกอบคำร้อง (pdf file ขนาดไม่เกิน 2 MB เท่านั้น) <a href = "#" data-bs-toggle="modal" data-bs-target="#evidence_modal"><i class="fa fa-question-circle text-warning"></i></a></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">  
                    {{ form.HouseRegistration.label }}
                    {{ form.HouseRegistration }}
                </div> 
                <div class="col-md-3 SpouseEvidence">                    
                    หนังสือรับรองของคู่สมรส
                    <span id = "consent_form" class = "text-success pointer">
                    [download ฟอร์ม
                        <img   src = "{% static 'images/word-doc.ico'%}" title = "download แบบฟอร์ม" width = 25>
                    ]
                    </span>
                    {{ form.SpouseApproved }}
                </div>
                <div class="col-md-3 SpouseEvidence">
                    {{ form.MarriageRegistration.label }}
                    {{ form.MarriageRegistration }}
                </div>
                <div class="col-md-3 SpouseEvidence widow_divote">
                    {{ form.DivorceRegistration.label }}
                    {{ form.DivorceRegistration }}
                </div>                

                <div class="col-md-3 SpouseEvidence widow_divote">
                    {{ form.SpouseDeathRegistration.label }}
                    {{ form.SpouseDeathRegistration }}
                </div>                
            </div>
        </div>      
    </div>

    <div class="card mt-3 shadow" id = "CoResidenceData">
        <div class="card-header  bg-success text-white">
            <h5>6. ผู้พักอาศัยร่วม (ถ้ามีผู้ที่จะมาพักด้วยกัน)</h5>
        </div>
        <div class="card-body p-0">
        {{ co_resident_formset.management_form }}
        {{ co_resident_formset.non_form_errors }}
        {% for formset in co_resident_formset %}
           
            <div class=" {{ co_resident_formset.prefix }} cr-row px-2 m-0" id = "co_residence">						
                <div class="row">
                    {% for hidden in formset.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="col-md-4 col-lg-3 col-xl-2 mt-1">
                        {{ formset.FullName |as_crispy_field}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-1">
                        {{ formset.Relation |as_crispy_field}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2">
                        {{ formset.PersonID |as_crispy_field}}
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2">
                        {{ formset.BirthDay |as_crispy_field}}
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        {{ formset.Occupation |as_crispy_field}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-1">
                        {{ formset.Salary |as_crispy_field}}
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-1">
                        {{ formset.Education |as_crispy_field}}
                    </div>                        
                    <div class="col-lg-1">
                        {{ formset.DELETE |as_crispy_field }}                        
                    </div>
                </div>	                    				
            </div>
        {% endfor %}
        <p class = "btn btn-info" id = "add_more" style="cursor: pointer;" ><i class="fa fa-plus text-dark"></i> เพิ่มผู้อาศัย</p>
        </div>
    </div>

    <div class = "mt-3">    
        <input class="btn btn-warning" type="submit" name = "save" onclick="return form_validate('save');" value = "บันทึกร่าง">
        <input class="btn btn-primary" type="submit" name = "send" onclick="return form_validate('send');" value = "บันทึกและส่งรายงาน">
    </div>
  
  </form>
  
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="google_help_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body text-center">      
        <img src = "{% static 'images/google_plus_code.gif'%}" width = 886 height = 634>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="home_zone_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body text-center">      
        <img src = "{% static 'images/homezone.gif'%}" class = "img-fluid" border = 1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="evidence_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">      
        <img src = "{% static 'images/evidence.png'%}" class = "img-fluid" border = 1>
        <p>กรณีสมรส ต้อง download หนังสือยินยอมให้คู่สมรสเซ็นต์ส่งพร้อมรายงานทาง e-admin ธุรการ ด้วย</p>
        <p>กรณีรายงานแต่งงานให้ กพ.ทอ.แล้ว ไม่ต้อง upload ทะเบียนสมรส แต่ถ้ายังไม่รายงาน ให้รายงานกับ กพ.ทอ.และ Upload ทะเบียนสมรสด้วย</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}