{% extends '_minbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
แบบฟอร์มขอบ้านพัก
{% endblock %}

{% block header %}
แบบฟอร์มขอบ้านพัก
{% endblock %}

{% block content%}
<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card bg-light border-info mb-3">
        <div class="card-header bg-transparent border-success">ข้อมูลพื้นฐานบุคคล</div>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </div>
    </div>
    <div class="card  border-info mb-3">
        <div class="card-header bg-transparent border-success">ข้อมูลพื้นฐานบุคคล</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
                </div>
                <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
                </div>
            </div>
        </div>
    </div>

    {{ form|crispy }}

    		<fieldset>
				<legend>ผู้พักอาศัยร่วม</legend>
				{{ co_resident_formset.management_form }}
				{{ co_resident_formset.non_form_errors }}
                {% for formset in co_resident_formset %}
						<div class="inline {{ co_resident_formset.prefix }}">						
                            <div class="row">
                                {{ formset | crispy }}
                            </div>						
						</div>
				{% endfor %}
		</fieldset>

  <button type="submit" class="btn btn-primary">บันทึกและส่งรายงาน</button>        

  </form>
{% endblock %}