{% extends '_minbase.html' %}
{% load crispy_forms_tags %}

{% block title %}
แบบฟอร์มขอบ้านพัก
{% endblock %}

{% block header %}
แบบฟอร์มขอบ้านพัก
{% endblock %}

{% block content%}
<form method = "POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="col-2">
            {{ form.Rank|as_crispy_field }}
        </div>
        <div class="col-7">
            {{ form.FullName|as_crispy_field  }}
        </div>
        <div class="col">
            {{ form.Position|as_crispy_field  }}
        </div>
    </div>

    {% csrf_token %}    
    {% comment %} {% crispy form %} {% endcomment %}

    <fieldset>
        <legend>ผู้พักอาศัยร่วม</legend>
        {{ co_resident_formset.management_form }}
        {{ co_resident_formset.non_form_errors }}
        {% for formset in co_resident_formset %}
                <div class="inline {{ co_resident_formset.prefix }}">						
                    <div class="row">
                        {{ formset | crispy }}
                    </div>						
                </div>
        {% endfor %}
    </fieldset>

  <button type="submit" class="btn btn-primary">บันทึกและส่งรายงาน</button>        

  </form>
{% endblock %}