{% extends '_minbase.html' %}

{% block title %}
รายการขอบ้านพัก
{% endblock %}

{% block header %}
รายการขอบ้านพัก
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {font-size: 20px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(5)){
        text-align: center;
    }
  </style>
{% endblock %}

{% block content%}
    <strong>ผู้ขอ</strong><br>
    {{ object.FullName }}<br>
    {{ object.Position }}<br>
    {{ object.Unit }}<br>

    <strong>ผู้อาศัยร่วม</strong><br>
    {% for cr in co_residence %}
      {{ cr }}<br>
    {% endfor %}
{% endblock %}