{% load thaidate %}

<section  id = "MainAPP">
        <div class="container-fluid">            
            <div class="row">
                <div class="col-3 text-center">
                    <i class="fa fa-home fa-7x text-primary"></i>
                    <h3>ได้รับการจัดสรรบ้านพัก</h3>
                </div>
                <div class="col">
                    <div class="mt-4">		
                        <h5>บ้านพัก</h5>
                        <p class="text-secondary mb-1">บ้านที่จัดสรร : {{ object.home_allocate.get_type_display }}, {{ object.home_allocate }},  {{ object.home_allocate.get_zone_display }}</p>
                        <p class="text-secondary mb-1">คำสั่งเข้าพักที่ : {{ object.enter_command }} ลง {{ object.enter_command.date_sign |thaidate:"D d M y" }}</p>
                        <p class="text-secondary mb-1">อยู่ได้ถึงวันที่ : {{ object.enter_command.date_due|thaidate:"d M y" }}</p>
                        <p class="text-secondary mb-1">คำสั่งบ้านพัก : <a href="{{ object.enter_command.file.url }}" target = "blank" alt="คำสั่ง">download</a></p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mt-3">		
                        <h5>ขั้นตอนการเข้าบ้านพัก</h5>
                        <p class="text-secondary mb-1">1. ยืนยัน + เพิ่มเติมข้อมูล <a @click="data_confirm" href="#" class = "btn btn-danger btn-sm">ดำเนินการ</a></p> 
                        <p class="text-secondary mb-1">2. ทำสัญญาเข้าบ้าน รับกุญแจที่ แผนกบ้านพักอาศัย กอง ? สน.ผบ.ดม.</p>
                        <p class="text-secondary mb-1">3. ทำสัญญาค่าน้ำ </p>
                    </div>
                </div>
              </div>
        </div>

        <div class="modal fade" id="data_confirm_modal" tabindex="-1" aria-labelledby="data_confirm_modalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" style="width:1400px;max-width: 95%;" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="data_confirm_modalLabel">ยืนยันข้อมูล</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">  
                        [[ data ]]
                        <div>						
                            <div class="row">                                
                                <div class="col-md-4 col-lg-3 col-xl-2 mt-1">ชื่อ-นามสกุล</div>
                                <div class="col-md-3 col-lg-2 col-xl-1">ความสัมพันธ์</div>
                                <div class="col-md-3 col-lg-3 col-xl-2">PID</div>
                                <div class="col-md-3 col-lg-3 col-xl-2">วันเกิด </div>
                                <div class="col-md-4 col-lg-3 col-xl-2">อาชีพ</div>
                                <div class="col-md-3 col-lg-2 col-xl-1">รายได้</div>
                                <div class="col-md-3 col-lg-2 col-xl-1">การศึกษา</div>                                                        
                            </div>	                    				
                        <div>						
                            <div v-for="cs in data.co_resident" class="row">                                
                                <div class="col-md-4 col-lg-3 col-xl-2 mt-1">
                                    [[ cs.full_name ]] 
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-1">
                                    [[ cs.relation ]] 
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2">
                                    [[ cs.person_id ]] 
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2">
                                    [[ cs.birth_day ]] 
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-2">
                                    [[ cs.occupation ]] 
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-1">
                                    [[ cs.salary ]]
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-1">
                                    [[ cs.education ]] 
                                </div>                                                        
                            </div>	                    				
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" @click="ChangeProcessStep" class="btn btn-primary">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>