{% extends '_minbase.html' %}

{% block title %}
รายการขอบ้านพัก
{% endblock %}

{% block header %}
รายการขอบ้านพัก
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(5)){
        text-align: center;
    }
  </style>
{% endblock %}

{% block content%}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-10"><h3>Employee <b>Details</b></h3></div>
                    <div class="col-sm-2">
                        <a href = '{% url 'HomeRequest:create' %}'type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="150">
                    <col width="350">
                    <col width="120">
                    <col width="60">
                    <col width="80">
                    <col width="60">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="150">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>
                        <th>วันส่ง</th>
                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>Mobile</th>
                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>ประเมิน</th>
                        <th>อนุมัติ</th>
                        <th>หมายเหตุ</th>
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>                        
                        <td>{{ forloop.counter }}</td>
                        <td><a href = "#"><i class="fa fa-lock text-dark icon-size" ></i></a></td>
                        <td><a href = "{% url 'HomeRequest:detail' object.id %}"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td>{{ object.DateSend|date:'d M y' }}</td>
                        <td>{{ object.FullName }}</td>
                        <td>{{ object.Unit }}</td>
                        <td>{{ object.Requester.OfficePhone }}</td>
                        <td><a href = "#"><i class="fa fa-check text-success icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-warning icon-size" ></i></a></td>
                        <td></td>
                        <td>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="far fa-tasks  icon-size"></i>
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 20px;"></i>
                            </span>
                        </td>
                        <td><a href = "#"><i class="fa fa-home text-primary icon-size" ></i></a></td>
                        <td></td>
                    </tr>      
                {% endfor %}
                    <tr >
                        <td>2</td>
                        <td><a href = "#"><i class="fa fa-times text-danger icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td>{{ object.DateSend }}</td>
                        <td><span class="text-decoration-line-through">น.ท.ทัพฟ้า  รักษ์ไทย<span></td>                        
                        <td>กบ.ทอ.</td>
                        <td>2-1215</td>
                        <td><a href = "#"><i class="fa fa-check text-success icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa fa-check text-success icon-size" ></i></a></td>
                        </td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-warning icon-size" ></i></a></td>
                        <td>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="far fa-tasks  icon-size"></i>                                
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 20px;"></i>
                            </span>
                        </td>
                        <td><a href = "#"><i class="fa fa-question text-dark icon-size"></i></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href = "#"><a href = "#"><i class="fa fa-edit text-danger icon-size" ></i></a></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td>{{ object.DateSend }}</td>
                        <td>น.ต.สายัญ ขยันงาน</td>
                        <td>ยศ.ทอ.</td>
                        <td>2-1122</td>
                        <td><a href = "#"><i class="fa fa-check text-success icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-success icon-size" ></i></a></td>
                        <td></td>
                        <td>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="far fa-tasks  icon-size"></i>                                
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 20px;"></i>
                            </span>
                        </td>
                        <td><a href = "#"><i class="fa fa-building text-primary icon-size" ></i></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href = "#"><i class="fa fa-lock text-dark icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td>{{ object.DateSend }}</td>
                        <td>ร.อ.หญิง เหมือนฝัน  หมั่นศึกษา</td>
                        <td>ยศ.ทอ.</td>
                        <td>2-1122</td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-warning icon-size" ></i></a></td>
                        <td></td>
                        <td></td>
                        <td><a href = "#"><i class="fa fa-arrow-right text-success icon-size"></i></a></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}