{% extends '_minbase.html' %}
{% load thaidate %}
{% load static %}

{% block title %}
รายการขอบ้านพัก 
{% endblock %}

{% block scriptlink %}
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'my_script/modal-with-custom-action.js'%}"></script>
{% endblock %}


{% block script %}
<script>
    function modal_hr_detail(hr_id)
    {
        urltext = "{% url 'HomeRequest:md' 99999 %}"
        
        new_urltext = urltext.replace("99999",hr_id)
        console.log(new_urltext)
        fetch_show_modal(new_urltext);
    }

    function show_processstep(process_step)
    {
        var all_process_step = ['RP','RS','UP','US','PP','PA','GH','RC']
        all_process_step.forEach(function (item, index) {
            table_rows = document.getElementsByClassName(item);
            for (var i = 0; i < table_rows.length; i++) {
                if(process_step == 'ALL')
                {
                    table_rows.item(i).style.display = 'table-row';
                    document.getElementById("btn_show_all").style.display = 'none';
                }
                else if(item != process_step)
                {
                    document.getElementById("btn_show_all").style.display = 'inline';
                    table_rows.item(i).style.display = 'none';
                }
                else
                    table_rows.item(i).style.display = 'table-row';
            }
        });
    }

</script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(5)):not(:last-child){
        text-align: center;
    }

    td a {
        font-size:smaller;
        text-decoration: none;
        color:green;
    }
    .nav-link {
        color: grey;
    }

  </style>
{% endblock %}

{% block header %}
รายการคำขอ {{ request.user.CurrentUnit}}  
{% endblock %}

{% block header_right %}{{ request.user.FullName}}{% endblock %}

{% block CardRow %}
    {% comment %} <div class = "row">
        {% include "project/card.html" with bgcolor="bg-light" text_color="text-dark" awesome="fa-pen" number=hr.Num_RP text="เริ่มกรอก" click="show_processstep('RP');" %}  
        {% include "project/card.html" with bgcolor="bg-danger" text_color="text-white" awesome="fa-list" number=hr.Num_RS text="ส่งหน่วย" click="show_processstep('RS');"%}
        {% include "project/card.html" with bgcolor="bg-warning" text_color="text-white" awesome="fa-cog fa-spin" number=hr.Num_UP text="นขต.รับ" click="show_processstep('UP');"%}
        {% include "project/card.html" with bgcolor="bg-success" text_color="text-white" awesome="fa-check" number=hr.Num_US text="นขต.ส่ง" click="show_processstep('US');"%}
        {% include "project/card.html" with bgcolor="bg-secondary" text_color="text-white" awesome="fa-paperclip" number=hr.Num_PPPA text="กพ.รับเรื่อง" click="show_processstep('PP');"%}
        {% include "project/card.html" with bgcolor="bg-primary" text_color="text-white" awesome="fa-home" number=hr.Num_GH text="รับจัดสรร" click="show_processstep('GH');"%}
    </div>  {% endcomment %}
{% endblock %}

{% block content%}
    {% if not object_list %}
        <h3>ไม่มีข้าราชการส่งรายงานขอบ้านพักในระบบ</h3>
    {% else %}
        <div id="MainAPP">              
            <div class = "row mt-2">
                <div class="row mb-2">              
                    <div class="col-md-6">
                        <button  
                            v-for="index in 6" 
                            :key="index" 
                            v-bind:class = "[card_static[index-1].color, card_static[index-1].bgcolor]"
                            @click="filter_homerequest(index)"
                            type="button" class="btn  m-1"  
                        >
                            [[ card_static[index-1].text ]] <span class="badge" v-bind:class = "[card_static[index-1].badgecolor]">[[ num_report[index-1] ]]</span>
                        </button>
                        <button @click="filter_homerequest('all')" type="button" class="btn btn-primary m-1" >
                            ทั้งหมด <span class="badge bg-secondary">6</span>
                        </button>
                    </div>
                    <div class="col-md-3">

                        <div class="input-group mb-3">
                            <input type="text" v-model="name_search_input" class="form-control" placeholder="ยศ ชื่อ นามสกุล หรือหน่วยงาน" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button @click="name_filter()" class="btn btn-outline-primary" type="button">ค้นหา</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-end">
                        <div class="form-check form-check-inline">
                            <select v-model="sub_unit_filter" class="form-select form-select-inline">
                                <option value="all">ทุกหน่วย</option>                         
                                <option v-for="(su,j) in sub_units" :value="su">[[ su ]]  [[ sub_unit_count[j] > 0 ? "[" + sub_unit_count[j] + "]" : ""]] </option>
                            </select>                            
                        </div>                             
                        <a href = '{% url 'HomeRequest:xls' request.user.CurrentUnit.id%}' type="button" class="btn btn-success m-1"><i class="fa fa-file-excel"></i> excel</a>
                        <a href = '{% url 'HomeRequest:doc_unit' request.user.CurrentUnit.id%}' type="button" class="btn btn-primary text-white"><i class="fa fa-file-word"></i> word</a>
                    </div>
                </div>
            </div>               
            <table class="table table-bordered table-hover table-striped caption-top unit-data-list mt-2" >
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="200">
                    <col width="80">
                    <col width="100">
                    <col width="80">
                    <col width="150">
                    <col width="60">
                    <col width="100">
                    <col width="60">
                    <col width="60">
                    <col width="60">
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>
                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>สถานภาพ</th>
                        <th>ผู้อาศัยร่วม</th>
                        <th>เบอร์โทร</th>
                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>อนุมัติ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(hm,i) in unit_data.HomeRequest" >
                    
                        <tr v-if="(filter_data == 'all' || hm.ProcessStep == filter_data) && show_sub_unit(hm.sub_unit) && check_fullname_search(hm.FullName,hm.sub_unit)"> 
                            <td>[[ i + 1 ]] </td>
                            <td>
                                <i v-if="hm.ProcessStep != 'RequesterProcess'" class="fa fa-lock icon-size" v-bind:class="ProcessStepClass(hm.ProcessStep)" ></i>
                                <i v-else class="fa fa-edit icon-size text-primary" ></i>
                            </td>
                            <td><a href = "#" @click = "show_hr_detail(hm.id);"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                            <td><a href = "#" @click = "show_doc(hm.id);"><i class="fas fa-file-word icon-size text-info"></i></a></td>
                            <td>[[ hm.FullName ]]</td>
                            <td>[[ hm.sub_unit ]]</td>
                            <td>[[ hm.Status ]]</td>
                            <td>[[ hm.num_coresident > 0 ? hm.num_coresident : "-"]]</td>
                            <td>[[ hm.MobilePhone ]]</td>
                            <td> <!--Requester -->
                                <div v-if="hm.RequesterDateSend">
                                    <a href = "#" :title = "hm.RequesterDateSend"><i class="fa fa-check text-success icon-size" ></i></a>
                                </div>
                                <div v-else-if="hm.ProcessStep === 'RequesterProcess' ">
                                    <small>ร่าง</small>
                                </div>
                            </td>
                            <td> <!-- Unit -->
                                <div v-if="hm.ProcessStep === 'RequesterSended'">
                                    <button class="btn btn-outline-primary btn-sm" @click="ConfirmChangeProcessStep(i, hm.id,'UP')"><small>รับเรื่อง</small></button>                                
                                </div>  
                                <div v-else-if="hm.ProcessStep==='UnitProcess'">                                
                                    <strong v-if="hm.IsUnitEval">
                                        <a href = "#" @click="evaluate(hm.id, 'edit');" :title = "[hm.UnitRecieverName, hm.UnitRecieverPhone, hm.UnitDateRecieved ]">
                                            [[ hm.UnitTroubleScore ]] 
                                        </a> &nbsp;
                                        <button class="btn btn-outline-success btn-sm" @click.native.prevent="ConfirmChangeProcessStep(i, hm.id,'US')"><small>ส่งเรื่อง</small></button>                                
                                    </strong>
                                    <a  v-else href = "#" @click="evaluate(hm.id, 'edit');" :title = "[hm.UnitRecieverName, hm.UnitRecieverPhone, hm.UnitDateRecieved ]">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-tasks text-danger  icon-size"></i>
                                            <i class="fas fa-question text-warning fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                        </span>                                                    
                                    </a>
                                </div>                                
                                <div v-else-if="['UnitSended','PersonProcess','GetHouse'].includes(hm.ProcessStep)">      
                                    <span >                         
                                        <a href = "#" @click="evaluate(hm.id, 'view');" :title = "[hm.UnitApproverName, hm.UnitApproverPhone, hm.UnitDateApproved ]" class = "text-muted">
                                            <strong>[[ hm.UnitTroubleScore ]] </strong>&nbsp;
                                            <i class="fa fa-check text-success icon-size" ></i>
                                        </a> 
                                    </span>
                                </div>                                      
                            </td>
                            <td> <!-- Admin -->
                                <div v-if="hm.IsPersonEval">
                                    [[ hm.PersonTroubleScore ]]
                                </div>
                                <div v-else-if="hm.ProcessStep === 'PersonProcess' ">
                                    <a class="fa-stack" style="vertical-align: top;" >
                                        <i class="far fa-tasks text-warning icon-size"></i>
                                        <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                    </a>
                                </div>
                            </td>
                            <td> <!-- อนุมัติ -->
                                
                            </td>
                            <td> <!-- หมายเหตุ -->                            
                                <div v-if="hm.cancel_request">
                                    <span :title = "[hm.PersonRecieverName, hm.PersonRecieverPhone, hm.PersonDateRecieved ]">                                
                                        <button class="btn btn-outline-danger btn-sm" @click="ConfirmChangeProcessStep(i, hm.id,'RC')"><small>ยกเลิกคำขอ</small></button>                                
                                    </span>
                                </div>
                                <div v-if="hm.ProcessStep === 'PersonProcess' ">
                                    <span :title = "[hm.PersonRecieverName, hm.PersonRecieverPhone, hm.PersonDateRecieved ]">                                
                                        <small>รอประเมิน</small>
                                    </span>
                                </div>
                                <div v-else-if="hm.ProcessStep === 'RequesterSended' || hm.ProcessStep ==='UnitProcess'">
                                    <button class="btn btn-outline-danger btn-sm" @click="ConfirmChangeProcessStep(i, hm.id,'RP')"><small>ส่งเรื่องกลับ</small></button>                                
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

                    
            {# Confirm modal #}
            <div class="modal fade" id="confirm_modal" tabindex="-1" aria-labelledby="confirm_modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirm_modalLabel">ยืนยัน[[step_action]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">                
                        [[step_action]]คำขอบ้านพักของ "[[ confirm_text ]]" <br><br>
                        ** จะมีการบันทึกข้อมูลผู้[[step_action]]ลงระบบ
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" @click="ChangeProcessStep" class="btn btn-primary">ยืนยัน</button>
                    </div>
                    </div>
                </div>
            </div>
        </div> <!-- end vue app -->

    {% endif %}
{% endblock %}

{% block buttom_script %}

<script>
    const MainAPP = {
        delimiters: ['[[', ']]'],
        data() {
            return {
                test_counter: 0,
                unit_data_list_modal : null,
                confirm_modal : null,
                confirm_text :"",
                current_index: 0,
                sub_units : {{ sub_units|safe }},
                sub_unit_count : [],
                sub_unit_filter : "all",                
                current_hr_id: 0,
                filter_data : 'all',
                num_report :[],
                name_search_input : "",
                fullname_search : "",
                change_process_step_to : "",
                step_action :"รับเรื่อง",

                object_list : [
                    {
                        counter : 1,
                        short_name : "{{ request.user.CurrentUnit}}",
                        unit_id : {{ request.user.CurrentUnit.id}},                        
                        num_RP : {{ hr.Num_RP }},
                        num_RS : {{ hr.Num_RS }},
                        num_UP : {{ hr.Num_UP }},
                        num_US : {{ hr.Num_US }},
                        num_PPPA : {{ hr.Num_PPPA }},
                        num_GH : {{ hr.Num_GH }}
                    } 
                ],
             
                card_static:[
                    {
                        color : "text-white",
                        bgcolor : "bg-primary",
                        badgecolor : "bg-secondary",
                        text : "เริ่มกรอก" 
                    },
                    {                        
                        color : "text-white",
                        bgcolor : "bg-danger",
                        badgecolor : "bg-warning",
                        text : "ส่งหน่วย"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-warning",
                        badgecolor : "bg-secondary",
                        text : "นขต.รับ"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-success",
                        badgecolor : "bg-secondary",
                        text : "นขต.ส่ง"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-secondary",
                        badgecolor : "bg-dark",
                        text : "กพ.รับเรื่อง"
                    },
                    {
                        color : "text-dark",
                        bgcolor : "bg-light",
                        badgecolor : "bg-secondary",
                        text : "รับจัดสรร" 
                    }
                ],                        
                unit_data : {
                    short_name : "",
                    HomeRequest : []
                }
            }
        },
        mounted() {
            //this.unit_data_list_modal = new bootstrap.Modal(document.getElementById("unit_data_list_modal"), {});
            this.confirm_modal = new bootstrap.Modal(document.getElementById("confirm_modal"), {});
            console.log("monted function");
            console.log("this.confirm_modal",this.confirm_modal);
            this.show_unit_data_list(1,{{ request.user.CurrentUnit.id}});
        },
        methods : {
            show_unit_data_list(index, unit_id){
                urltext = "{% url 'HomeRequest:unit_list_admin'  99999 %}";
                new_urltext = urltext.replace("99999",unit_id)
                //console.log(new_urltext);

                fetch(new_urltext)
                    .then(response => response.json())
                    .then(data => {
                        // console.log("show_unit_data_list vdata = ",data);
                        this.current_index = index;
                        this.unit_data.HomeRequest = data;
                        
                        let i = 0;
                        this.sub_unit_count.length = this.sub_units.length;
                        this.sub_units.forEach(
                            sub_unit => {
                                this.sub_unit_count[i] = this.unit_data.HomeRequest.filter(hm => hm.Position.includes(sub_unit)).length;
                                console.log(sub_unit, this.sub_unit_count[i]);
                                i++;
                        });
                        this.unit_data.short_name = data[0]["UnitName"];
                        this.num_report[0] = this.object_list[index-1].num_RP ;
                        this.num_report[1] = this.object_list[index-1].num_RS ;
                        this.num_report[2] = this.object_list[index-1].num_UP ;
                        this.num_report[3] = this.object_list[index-1].num_US ;
                        this.num_report[4] = this.object_list[index-1].num_PPPA;
                        this.num_report[5] =  this.object_list[index-1].num_GH ;
                        //this.unit_data_list_modal.show();
                    });
            },
            show_hr_detail(hr_id){
                urltext = "{% url 'HomeRequest:md' 99999 %}"
        
                new_urltext = urltext.replace("99999",hr_id)
                // console.log(new_urltext)
                fetch_show_modal(new_urltext);
            },
            ConfirmChangeProcessStep(index, hr_id, step){
                this.current_index = index;
                this.current_hr_id = hr_id;
                this.change_process_step_to = step;
                switch(step){                            
                                case 'RP': this.step_action ="ส่งกลับ"                                           
                                           break;
                                case 'UP': this.step_action ="รับเรื่อง"
                                           break;
                                case 'US': this.step_action ="ส่งเรื่อง";
                                           break;                                
                                case 'RC': this.step_action ="ยกเลิก";
                                           break;                                
                            }
                this.confirm_text = this.unit_data.HomeRequest[index]["FullName"];                
                this.confirm_modal.show();
            },
            ChangeProcessStep(){
                
                urltext = "{% url 'HomeRequest:update_process_step' 88888 '99999' %}";
                urltext = urltext.replace("88888",this.current_hr_id)
                new_urltext = urltext.replace("99999",this.change_process_step_to)
                // console.log(new_urltext);

                fetch(new_urltext)
                    .then(response => response.json())
                    .then(data => {
                        // console.log("data ",data);
                        if(data["success"])
                        {
                            this.confirm_modal.hide();
                            switch(this.change_process_step_to){                            
                                case 'RP': this.unit_data.HomeRequest[this.current_index]["ProcessStep"] = 'RequesterProcess';
                                           this.unit_data.HomeRequest[this.current_index]["RequesterDateSend"] = false;
                                      break;
                                case 'UP': this.unit_data.HomeRequest[this.current_index]["ProcessStep"] = 'UnitProcess';
                                      break;
                                case 'US': this.unit_data.HomeRequest[this.current_index]["ProcessStep"] = 'UnitSended';
                                      break;
                                case 'RC': this.unit_data.HomeRequest[this.current_index]["ProcessStep"] = 'RequesterCancel';
                                      break;
                            }
                        }
                        else
                            alert("เกิดข้อผิดพลาด ไม่สามารถรับเรื่องได้");
                    });
            },
            ProcessStepClass(hm_process_step)
            {                
                switch(hm_process_step)
                {
                    case 'RequesterSended' :  return 'text-danger';
                    case 'UnitProcess' :      return 'text-warning';
                    case 'UnitSended' :       return 'text-success';
                    case 'PersonProcess' :    return 'text-secondary';
                    case 'GetHouse' :      return 'text-primary';
                }
                return '';                
            },
            num_report_func(step_report)
            {   
                ci = this.current_index - 1 < 0 ? 0 : this.current_index - 1 ;             
                switch(step_report)
                {
                    case 1: return this.object_list[ci].num_RP;
                    case 2: return this.object_list[ci].num_RS;
                    case 3: return this.object_list[ci].num_UP;
                    case 4: return this.object_list[ci].num_US;
                    case 5: return this.object_list[ci].num_PP;
                    case 6: return this.object_list[ci].num_GH;
                }                 
            },
            filter_homerequest(step_report)
            {
                ProcessStep = ['RequesterProcess','RequesterSended','UnitProcess',
                               'UnitSended','PersonProcess','PersonApproved','GetHouse'
                            ];
                console.log('this.filter_data ',this.filter_data);
                
                if(this.filter_data == ProcessStep[step_report-1])
                {
                    this.filter_data = 'all';                
                }
                else
                {
                    this.filter_data = ProcessStep[step_report-1];                    
                }
            },
            show_sub_unit(sub_unit){                
                if(this.sub_unit_filter == "all")
                    return true;
                else
                    if(sub_unit)
                        return sub_unit.includes(this.sub_unit_filter);                
                    else
                        return true;
            },
            check_fullname_search(FullName,sub_unit){   
                if(this.name_search_input != "")             
                    return FullName.includes(this.name_search_input) || sub_unit.includes(this.name_search_input);
                else
                    return true;
            },            
            name_filter(){
                this.fullname_search = this.name_search_input;
            },
        show_doc(hm_id)
            {
                urltext = "{% url 'HomeRequest:detail_doc' '99999' 1 %}";
                docURL = urltext.replace("99999",hm_id);               
                window.open(docURL ,'_blank');
            },
            show_xls(unit_id)
            {
                urltext = "{% url 'HomeRequest:xls' '99999' %}";
                xlsURL = urltext.replace("99999",unit_id);               
                window.open(xlsURL ,'_blank');
            },
            evaluate(hm_id, editable)
            {
                if(editable == 'edit')
                    urltext = "{% url 'Trouble:unit_evaluation' '99999' %}";
                else
                    urltext = "{% url 'Trouble:view_eval' '99999' 'Unit' %}";
                trouble_eval = urltext.replace("99999",hm_id);               
                window.open(trouble_eval ,'_self');
            }
        }        
    }

    Vue.createApp(MainAPP).mount('#MainAPP')
</script>
{% endblock buttom_script %}