{% extends '_minbase.html' %}
{% load thaidate %}

{% block title %}
รายการขอบ้านพัก
{% endblock %}

{% block header %}
รายการขอบ้านพัก
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(6)):not(:last-child){
        text-align: center;
    }

  </style>
{% endblock %}

{% block content%}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mb-2">
                    <div class="col-sm-10"><h4>จนท.ศซว.ทอ.</h4>  {{ request.user.FullName}}</div>
                    <div class="col-sm-2">
                        <a href = '{% url 'HomeRequest:xls' request.user.CurrentUnit.id%}' type="button" class="btn btn-success"><i class="fa fa-file-excel"></i> export</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="120">
                    <col width="350">
                    <col width="120">
                    <col width="60">
                    <col width="80">
                    <col width="60">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>

                        <th>วันส่ง</th>
                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>Mobile</th>
                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>ประเมิน</th>
                        <th>อนุมัติ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% include "HomeRequest/row_data/unit_row_data.html" with object=object%}
                {% endfor %}
                <!--
                    <tr>
                        <td>3</td>
                        <td><a href = "#"><a href = "#"><i class="fa fa-edit text-danger icon-size" ></i></a></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td><a href = "{% url 'HomeRequest:doc' 1 %}"><i class="fas fa-file-word icon-size"></i></a></td>
                        <td>{{ object.DateSend }}</td>
                        <td>น.ต.สายัญ ขยันงาน</td>
                        <td>ยศ.ทอ.</td>
                        <td>2-1122</td>
                        <td><a href = "#"><i class="fa fa-check text-success icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-warning icon-size" ></i></a></td>
                        <td></td>
                        <td>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="far fa-tasks  icon-size"></i>                                
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 20px;"></i>
                            </span>
                        </td>
                        <td><a href = "#"><i class="fa fa-building text-primary icon-size" ></i></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href = "#"><i class="fa fa-lock text-dark icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td><a href = "{% url 'HomeRequest:doc' 1 %}"><i class="fas fa-file-word icon-size"></i></a></td>
                        <td>{{ object.DateSend }}</td>
                        <td>ร.อ.หญิง เหมือนฝัน  หมั่นศึกษา</td>
                        <td>ยศ.ทอ.</td>
                        <td>2-1122</td>
                        <td><a href = "#"><i class="fa  fa-spinner fa-spin  text-warning icon-size" ></i></a></td>
                        <td></td>
                        <td></td>
                        <td><a href = "#"><i class="fa fa-arrow-right text-success icon-size"></i></a></td>
                        <td></td>
                    </tr>
                !-->
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}