{% extends '_minbase.html' %}
{% load thaidate %}
{% load static %}

{% block title %}
รายการขอบ้านพัก
{% endblock %}

{% block scriptlink %}
    <script src="{% static 'my_script/modal-with-custom-action.js'%}"></script>
{% endblock %}


{% block script %}
<script>
    function modal_hr_detail(hr_id)
    {
        urltext = "{% url 'HomeRequest:md' 99999 %}"
        
        new_urltext = urltext.replace("99999",hr_id)
        console.log(new_urltext)
        fetch_show_modal(new_urltext);
    }
</script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {font-size: 20px;}
    .check-size {font-size: 10px;}

    thead tr:first-child{
        text-align: center;
    }

    table td:not(:nth-child(6)):not(:last-child){
        text-align: center;
    }

    td a {
        font-size:smaller;
        text-decoration: none;
        color:green;
    }

  </style>
{% endblock %}

{% block header %}
รายการคำขอ {{ request.user.CurrentUnit}}
{% endblock %}

{% block header_right %}{{ request.user.FullName}}{% endblock %}

{% block CardRow %}
{% comment %} 
    <div class = "row">
        {% include "project/card.html" with color="secondary" awesome="fa-pen" number="12" text="เริ่มกรอก"%}  
        {% include "project/card.html" with color="warning" awesome="fa-list" number="04" text="ส่งหน่วย"%}
        {% include "project/card.html" with color="info" awesome="fa-circle-notch fa-spin" number="08" text="ดำเนินการ"%}
        {% include "project/card.html" with color="success" awesome="fa-check" number="4" text="รอจัดสรร"%}
        {% include "project/card.html" with color="primary" awesome="fa-home" number="12" text="รับจัดสรร"%}  
        {% include "project/card.html" with color="danger" awesome="fa-home" number="12" text="รับจัดสรร"%}  
    </div> 
{% endcomment %}
{% endblock %}

{% block content%}
    {% if not object_list %}
        <h3>ไม่มีข้าราชการส่งรายงานขอบ้านพักในระบบ</h3>
    {% else %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mb-2">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <a href = '{% url 'HomeRequest:xls' request.user.CurrentUnit.id%}' type="button" class="btn btn-success"><i class="fa fa-file-excel"></i> export</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="120">
                    <col width="350">
                    <col width="120">
                    <col width="60">
                    <col width="80">
                    <col width="60">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>

                        <th>วันส่ง</th>
                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สังกัด</th>
                        <th>Mobile</th>
                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>ประเมิน</th>                        
                        <th>กพ.ทอ.</th>
                        <th>อนุมัติ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    {% include "HomeRequest/row_data/unit_row_data.html" with object=object%}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}