{% extends '_minbase.html' %}
{% load crispy_forms_tags %}

{% block content%}
<div class = "row">
    <div class = "col-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-info" type="button">สร้างคำขอบ้านพัก</button>
            </div>
        </div>
    </div>
</div>
{% for object in object_list%}
    {{ forloop.counter }}. {{object.FullName}}, {{object.Requester.CurrentUnit}}, {% if object.recorder %}<i class="fas fa-user-edit"></i>{% else %}<i class="far fa-list-alt"></i>{% endif %}<br>
{% endfor %}

# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'HomeRequest:manual_list'%}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'HomeRequest:manual_list'%}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}