{% load thaidate %}
<div class="modal  fade" tabindex="-1">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title">คำขอบ้านพัก {{ object.FullName }} วงรอบ {{ object.year_round }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="container-fluid">
            <div class="row">              
              <div class="col-md-4"><strong>ตำแหน่ง :</strong> {{ object.Position }}</div>
              <div class="col-md-4"><strong>โทร : </strong> {{ object.Requester.OfficePhone }}, {{ object.Requester.MobilePhone }}</div>              
              <div class="col-md-4"><strong>รายได้ :</strong> {{ object.Salary }} + {{ object.AddSalary }}</div>
            </div>
            <div class="row mt-2">              
              <div class="col-md-6"><strong>ที่อยู่ตามทะเบียนบ้าน :</strong> {{ object.Address }}</div>
              <div class="col-md-3"><strong>โทร : </strong> {{ object.Requester.OfficePhone }}, {{ object.Requester.MobilePhone }}</div>              
              <div class="col-md-3"><strong>โทร : </strong> {{ object.Requester.OfficePhone }}, {{ object.Requester.MobilePhone }}</div>              
            </div>
        {% if object.CoResident.all %}
            <div class="row mt-5 fw-bold">
              <div class="col-md-2">ชื่อ</div>
                <div class="col-2">ความสัมพันธ์</div>
                <div class="col-2">PersonID</div>
                <div class="col-2">วันเกิด</div>
                <div class="col-2">อาชีพ</div>
                <div class="col-1">รายได้</div>
                <div class="col-1">การศึกษา</div>
              </div>
              <div class="row">
            
              {% for cr in object.CoResident.all %}
                <div class="col-md-2">{{ cr.FullName }}</div>
                <div class="col-2">
                    {{ cr.get_Relation_display }}
                </div>
                <div class="col-2">
                    {{ cr.PersonID }}
                </div>
                <div class="col-2">
                    {{ cr.BirthDay|thaidate:"d M y"  }}
                </div>
                <div class="col-2">
                    {{ cr.Occupation }}
                </div>
                <div class="col-1">
                    {{ cr.Salary }}
                </div>
                <div class="col-1">
                    {{ cr.get_Education_display }}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>