{% extends '_minbase.html' %}
{% load static %}

{% block title %}ARMIS :: ขั้นตอน{% endblock %}

{% block header %}
ขั้นตอนการดำเนินการ
{% endblock %}


{% block style %}
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }
    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }
    ul.timeline > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }

    ul.timeline > li:hover {
        background: rgba(100,100,100,.3);
    }
    ul.timeline > li:hover:before {
        background: #22c0e8;
    }

    ul.timeline  A {
        text-decoration: none;
        color:darkblue;
        font-weight: bold;
        font-size: 16px;
        cursor: default;
    }


</style>    
{% endblock%}


{% block content%}
{# ที่มา https://bootsnipp.com/snippets/xrKXW  #}
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			{% comment %} <h4>ขั้นตอนการดำเนินการ</h4> {% endcomment %}
			<ul class="timeline">
				<li>					
					<a href="#">วงรอบการดำเนินการ</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>					
					<a href="#">1. กรอกคำขอบ้านพัก</a>
                    <a href="#" class="float-end">{{ request.user }}</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>					
					<a href="#">2. ส่งคำขอพร้อมรายงาน</a>
                    <a href="#" class="float-end">{{ request.user }}</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
					<a href="#">3. รวบรวม ตรวจสอบ ประเมินความเดือดร้อนจำเป็น</a>					
                    <a href="#" class="float-end">กำลังพล {{ request.user.CurrentUnit }}</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
				<li>
					<a href="#">4. รวบรวม ส่งเรื่องให้ กพ.ทอ.</a>
                    <a href="#" class="float-end">กำลังพล {{ request.user.CurrentUnit }}</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
				<li>
					<a href="#">5. กพ.ทอ.รวบรวม ตรวจสอบ</a>
                    <a href="#" class="float-end">กพ.ทอ.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>
					<a href="#">6. กพ.ทอ.รวบรวม ตรวจสอบ รอจัดสรร </a>
                    <a href="#" class="float-end">กพ.ทอ.</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>
					<a href="#">7. กพ.ทอ.จัดสรรบ้านพัก</a>
                    <a href="#" class="float-end">กพ.ทอ.</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
                <li>
                    <a href="#">ดำเนินการขอเข้าบ้านพัก</a>
                    <a href="#" class="float-end">ขรก.ผู้ได้รับจัดการ </a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>                
			</ul>
		</div>
	</div>
</div>
{% endblock %}