{% load static %}
{% load common_tags %}


    {% if widget.value %}
        {% if widget.value.url|file_ext == "pdf" %}
            <a href="{{ widget.value.url }}" target = "_blank"
                title = "{{ widget.value }}">
                <img src = {% static 'images/pdf_icon24.gif'%} >
            </a>
        {% else %}
            <span class = "text-danger">{{ widget.value  }}</span>
        {% endif %}
    {% endif %}
    <input  type="file" 
            name="{{ widget.name }}" 
            accept="application/pdf" 
            class="fileinput fileUpload form-control my-2" 
            id="id_{{ widget.name }}" >
 