{% load static %}
{% load common_tags %}


    {% if widget.value %}
        {% if widget.value.url|file_ext == "pdf" %}            
                 {% comment %} <img src = {% static 'images/pdf_icon.png'%} title = "{{widget.value}}" width = 25>{% endcomment %}
                 <br><u>ไฟล์ปัจจุบัน</u> : {{ widget.value|file_name }} [เข้ารหัส]
        {% endif %}
    {% endif %}
    <input  type="file" 
            name="{{ widget.name }}" 
            accept="application/pdf" 
            class="fileinput fileUpload form-control my-2" 
            id="id_{{ widget.name }}" accept=".pdf">
 