{% load static %}
{% load common_tags %}


    {% if widget.value %}
        {% if widget.value.url|file_ext == "pdf" %}            
                <img src = {% static 'images/lock_file.png'%} title = "{{widget.value}}" width = 25>
        {% else %}
            <span class = "text-danger">{{ widget.value  }}</span>
        {% endif %}
    {% endif %}
    <input  type="file" 
            name="{{ widget.name }}" 
            accept="application/pdf" 
            class="fileinput fileUpload form-control my-2" 
            id="id_{{ widget.name }}" accept=".pdf">
 