@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

.Logo-Brand {
    font-family: 'Carter One', cursive;
    font-size: 25px;
}

.description-brand {
    font-family: 'Mali', cursive;
    font-size: 16px;
    font-weight: bold;
}


