{% extends '_minbase.html' %}
{% load crispy_forms_tags %}
{% load thaidate %}

{% block title %}ARMIS : รายการคำขอ{% endblock %}

{% block scriptlink %}
{% endblock scriptlink %}
{% block style %}

<!--
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
-->
<style>

    .nav li a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    body{
        background:#eee;
    }

    .email {
        padding: 20px 10px 15px 10px;
        font-size: 1em;
    }

  
    .email .btn.search {
        font-size: 0.9em;
    }



    .dt-pagination-ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      padding-left: 0;
      border-top: 1px solid #dee2e6;
      padding-top : 15px;
    }
    
    .dt-pagination .dt-item {
        display: inline-block;
    }
    
    .dt-pagination .dt-item .dt-link {
        padding: 6px 8px;
        //min-width: 32px;
        //min-height: 32px;
        border-radius: 8px;
        margin-left: 0;
        margin-right: 8px;
        border: 1px solid #fff;
        font-size: 12px;
        font-weight: 500;
        color: #8A93A6;
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }
    
    .dt-pagination .dt-item .dt-link:hover {
        background-color: #ebf2fd;
        color: #5a8dee;
    }
    
    .dt-pagination .dt-item.disabled .dt-link {
        background-color: #F6F7FB;
        color: #D7DAE0;
      cursor: not-allowed;
    }
    
    .dt-pagination .dt-item:first-child .dt-link, .dt-pagination .dt-item:last-child .dt-link {
        background-color: #F6F7FB;
    }
    
    .dt-pagination .dt-item.active .dt-link {
        background-color: #5a8dee;
        border-color: #5a8dee;
        color: #fff;
    }

    .email table {
        font-weight: 600;
        padding: 3rem 0.5rem;
    }

    .email table a {
        color: #666;
    }

    .email table tr.read > td {
        background-color: #f6f6f6;
    }

    .email table tr.read > td {
        font-weight: 400;
    }

    .email table tr td > i.fa {
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: center;
    }

    .email table tr td > i.fa-star {
        color: #f39c12;
    }

    .email table tr td > i.fa-bookmark {
        color: #e74c3c;
    }

    .email table tr > td.action {
        padding-left: 0px;
        padding-right: 2px;
    }

    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }

    .grid .grid-header:after {
        clear: both;
    }

    .grid .grid-header span,
    .grid .grid-header > .fa {
        display: inline-block;
        margin: 0;
        font-weight: 300;
        font-size: 1.5em;
        float: left;
    }

    .grid .grid-header span {
        padding: 0 5px;
    }

    .grid .grid-header > .fa {
        padding: 5px 10px 0 0;
    }

    .grid .grid-header > .grid-tools {
        padding: 4px 10px;
    }

    .grid .grid-header > .grid-tools a {
        color: #999999;
        padding-left: 10px;
        cursor: pointer;
    }

    .grid .grid-header > .grid-tools a:hover {
        color: #666666;
    }

    .grid .grid-body {
        padding: 15px 20px 15px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }

    .grid .full {
        padding: 0 !important;
    }

    .grid .transparent {
        box-shadow: none !important;
        margin: 0px !important;
        border-radius: 0px !important;
    }

    .grid.top.black > .grid-header {
        border-top-color: #000000 !important;
    }

    .grid.bottom.black > .grid-body {
        border-bottom-color: #000000 !important;
    }

    .grid.top.blue > .grid-header {
        border-top-color: #007be9 !important;
    }

    .grid.bottom.blue > .grid-body {
        border-bottom-color: #007be9 !important;
    }

    .grid.top.green > .grid-header {
        border-top-color: #00c273 !important;
    }

    .grid.bottom.green > .grid-body {
        border-bottom-color: #00c273 !important;
    }

    .grid.top.purple > .grid-header {
        border-top-color: #a700d3 !important;
    }

    .grid.bottom.purple > .grid-body {
        border-bottom-color: #a700d3 !important;
    }

    .grid.top.red > .grid-header {
        border-top-color: #dc1200 !important;
    }

    .grid.bottom.red > .grid-body {
        border-bottom-color: #dc1200 !important;
    }

    .grid.top.orange > .grid-header {
        border-top-color: #f46100 !important;
    }

    .grid.bottom.orange > .grid-body {
        border-bottom-color: #f46100 !important;
    }

    .grid.no-border > .grid-header {
        border-bottom: 0px !important;
    }

    .grid.top > .grid-header {
        border-top-width: 4px !important;
        border-top-style: solid !important;
    }

    .grid.bottom > .grid-body {
        border-bottom-width: 4px !important;
        border-bottom-style: solid !important;
    }
   
</style>
{% endblock style%}


{% block body %}{% endblock %}
{% block content%}

<div class="row mt-1"  style="overflow:scroll;" >
	<!-- BEGIN INBOX -->
	<div class="col-md-12" >
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX CONTENT -->

							<div class="col-sm-2">								
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item text-primary" href="#">กพ.ทอ.รับเรื่อง</a></li>
                                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
							</div>

							<div class="col-md-2 search-form">
								<form action="#" class="text-right">
									<div class="input-group">
										<input type="text" class="form-control input-sm" placeholder="Search">
										<span class="input-group-btn">
                                            <button type="submit" name="search" class="btn_ btn-primary btn-sm search"><i class="fa fa-search"></i></button></span>
									</div>			 
								</form>
							</div>
						</div>
						
						<div class="table-responsive mt-2">
                        <table class="table table-hover" style="width:3000px">
                                <col width="30">
                                <col width="30">
                                <col width="30">
                                <col width="30">
                                <col width="75"> <!-- วันที่ส่งเรื่อง -->
                                <col width="250"> <!-- ยศ ชื่อ นามสกุล-->
                                <col width="80"> <!-- หน่วยย่อย-->
                                <!-- <col width="80">  หน่วย-->
                                <col width="80"> <!-- ประเภทบ้านที่ขอ -->
                                <col width="40"> <!-- คะแนนประเมิน-->
                                <col width="130"> <!-- ความต้องการ #1 -->
                                <col width="130">

                            <tbody>
                                {% for object in object_list %}
                                <tr>
									<td class="action"><input type="checkbox" /></td>
									<td class="action"><i class="{% cycle 'far' 'fas' %} fa-star"></i></td>
									<td class="action"><i class="{% cycle 'far' 'far' 'fas' %} fa-bookmark"></i></td>
									<td class="action"><i class="far {% cycle '' 'fa-check text-warning' 'fa-check text-success' %}"></i></td>
									<td class="time">{{ object.RequesterDateSend|thaidate:"d-m-y" }}</td>
									<td class="name">{{ object.FullName|truncatechars:80 }}</td>
									<td>{{ object.sub_unit|default_if_none:"" }}</td>
									<!--  <td>{{ object.Unit }}</td> -->
									<td>
                                        {% if object.get_Status_display == "โสด" %}โสด{% else %}ครอบครัว{% endif %}
                                    </td>
									<td>{{ object.UnitTroubleScore|default_if_none:"-"  }}</td>
									<td>{{ object.PriorityList  }}</td>
									<td></td>									
									<td></td>									
								</tr>
                                {% endfor %}
                                <!-- 
								<tr>
									<td class="action"><input type="checkbox" /></td>									
									<td class="action"><i class="fa fa-star-o"></i></td>
									<td class="action"><i class="fa fa-bookmark"></i></td>
									<td class="action"><i class="fa fa-check"></i></td>
									<td class="time">08:30 PM</td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
								</tr>
								<tr class="read">
									<td class="action"><input type="checkbox" /></td>
									<td class="action"><i class="fa fa-star"></i></td>
									<td class="action"><i class="fa fa-bookmark"></i></td>
									<td class="action"><i class="fa fa-check"></i></td>
									<td class="time">08:30 PM</td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
								</tr>
                                -->
							</tbody>
                        </table>
                    </div>
                    <!-- https://codepen.io/piyushpd/pen/BadGaMg -->
                    <div class="dt-pagination">
                        <ul class="dt-pagination-ul">
                          <li class="dt-item disabled">
                            <a class="dt-link">Prev</a>
                          </li>
                          <li class="dt-item active">
                            <a class="dt-link">1</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">2</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">3</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">4</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">...</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">25</a>
                          </li>
                          <li class="dt-item ">
                            <a class="dt-link">Next</a>
                          </li>
                        </ul>
                      </div>
                    

                <div class = "dt-pagination">
                {% if is_paginated  %}
                    <ul class="dt-pagination-ul">
                        {% if page_obj.has_previous %}
                        <li class = "dt-item active"><a class = "dt-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="dt-item disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="dt-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class = "dt-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="dt-item"><a class = "dt-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="dt-item disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>

					</div>
					<!-- END INBOX CONTENT -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>


{% endblock %}