{% extends '_minbase.html' %}
{% load crispy_forms_tags %}
{% load thaidate %}

{% block title %}ARMIS : รายการคำขอ{% endblock %}

{% block scriptlink %}
{% endblock scriptlink %}
{% block style %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .nav li a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    body{
        margin-top:20px;
        background:#eee;
    }
    /* EMAIL */
    .email {
        padding: 20px 10px 15px 10px;
        font-size: 1em;
    }

    .email .btn.search {
        font-size: 0.9em;
    }

    .email h2 {
        margin-top: 0;
        padding-bottom: 8px;
    }

    .email .nav.nav-pills > li > a {
        border-top: 3px solid transparent;
    }

    .email .nav.nav-pills > li > a > .fa {
        margin-right: 5px;
    }

    .email .nav.nav-pills > li.active > a,
    .email .nav.nav-pills > li.active > a:hover {
        background-color: #f6f6f6;
        border-top-color: #3c8dbc;
    }

    .email .nav.nav-pills > li.active > a {
        font-weight: 600;
    }

    .email .nav.nav-pills > li > a:hover {
        background-color: #f6f6f6;
    }

    .email .nav.nav-pills.nav-stacked > li > a {
        color: #666;
        border-top: 0;
        border-left: 3px solid transparent;
        border-radius: 0px;
    }

    .email .nav.nav-pills.nav-stacked > li.active > a,
    .email .nav.nav-pills.nav-stacked > li.active > a:hover {
        background-color: #f6f6f6;
        border-left-color: #3c8dbc;
        color: #444;
    }

    .email .nav.nav-pills.nav-stacked > li.header {
        color: #777;
        text-transform: uppercase;
        position: relative;
        padding: 0px 0 10px 0;
    }

    .email table {
        font-weight: 600;
        padding: 3rem 0.5rem;
    }

    .email table a {
        color: #666;
    }

    .email table tr.read > td {
        background-color: #f6f6f6;
    }

    .email table tr.read > td {
        font-weight: 400;
    }

    .email table tr td > i.fa {
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: center;
    }

    .email table tr td > i.fa-star {
        color: #f39c12;
    }

    .email table tr td > i.fa-bookmark {
        color: #e74c3c;
    }

    .email table tr > td.action {
        padding-left: 0px;
        padding-right: 2px;
    }

    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    }



    .grid .grid-header:after {
        clear: both;
    }

    .grid .grid-header span,
    .grid .grid-header > .fa {
        display: inline-block;
        margin: 0;
        font-weight: 300;
        font-size: 1.5em;
        float: left;
    }

    .grid .grid-header span {
        padding: 0 5px;
    }

    .grid .grid-header > .fa {
        padding: 5px 10px 0 0;
    }

    .grid .grid-header > .grid-tools {
        padding: 4px 10px;
    }

    .grid .grid-header > .grid-tools a {
        color: #999999;
        padding-left: 10px;
        cursor: pointer;
    }

    .grid .grid-header > .grid-tools a:hover {
        color: #666666;
    }

    .grid .grid-body {
        padding: 15px 20px 15px 20px;
        font-size: 0.9em;
        line-height: 1.9em;
    }

    .grid .full {
        padding: 0 !important;
    }

    .grid .transparent {
        box-shadow: none !important;
        margin: 0px !important;
        border-radius: 0px !important;
    }

    .grid.top.black > .grid-header {
        border-top-color: #000000 !important;
    }

    .grid.bottom.black > .grid-body {
        border-bottom-color: #000000 !important;
    }

    .grid.top.blue > .grid-header {
        border-top-color: #007be9 !important;
    }

    .grid.bottom.blue > .grid-body {
        border-bottom-color: #007be9 !important;
    }

    .grid.top.green > .grid-header {
        border-top-color: #00c273 !important;
    }

    .grid.bottom.green > .grid-body {
        border-bottom-color: #00c273 !important;
    }

    .grid.top.purple > .grid-header {
        border-top-color: #a700d3 !important;
    }

    .grid.bottom.purple > .grid-body {
        border-bottom-color: #a700d3 !important;
    }

    .grid.top.red > .grid-header {
        border-top-color: #dc1200 !important;
    }

    .grid.bottom.red > .grid-body {
        border-bottom-color: #dc1200 !important;
    }

    .grid.top.orange > .grid-header {
        border-top-color: #f46100 !important;
    }

    .grid.bottom.orange > .grid-body {
        border-bottom-color: #f46100 !important;
    }

    .grid.no-border > .grid-header {
        border-bottom: 0px !important;
    }

    .grid.top > .grid-header {
        border-top-width: 4px !important;
        border-top-style: solid !important;
    }

    .grid.bottom > .grid-body {
        border-bottom-width: 4px !important;
        border-bottom-style: solid !important;
    }
</style>
{% endblock style%}


{% block body %}{% endblock %}
{% block content%}

<div class="row mt-1">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-2">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox</h2>
						<a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a>

						<hr>

						<div>
							<ul class="nav nav-pills nav-stacked">
								<li class="header">Folders</li>
								<li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox (14)</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Starred</a></li>
								<li><a href="#"><i class="fa fa-bookmark"></i> Important</a></li>
								<li><a href="#"><i class="fa fa-mail-forward"></i> Sent</a></li>
								<li><a href="#"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
								<li><a href="#"><i class="fa fa-folder"></i> Spam (217)</a></li>
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->
					
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-10">
						<div class="row">
							<div class="col-sm-8">								
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>            
							</div>

							<div class="col-md-4 search-form">
								<form action="#" class="text-right">
									<div class="input-group">
										<input type="text" class="form-control input-sm" placeholder="Search">
										<span class="input-group-btn">
                                            <button type="submit" name="search" class="btn_ btn-primary btn-sm search"><i class="fa fa-search"></i></button></span>
									</div>			 
								</form>
							</div>
						</div>
						
						<div class="table-responsive mt-2">
                        <table class="table">
                                <col width="30">
                                <col width="30">
                                <col width="30">
                                <col width="30">
                                <col width="75"> <!-- วันที่ส่งเรื่อง -->
                                <col width="230"> <!-- ยศ ชื่อ นามสกุล-->
                                <col width="80"> <!-- หน่วยย่อย-->
                                <col width="80"> <!-- หน่วย-->
                                <col width="80"> <!-- ประเภทบ้านที่ขอ -->
                                <col width="40"> <!-- คะแนนประเมิน-->
                                <col width="130"> <!-- ความต้องการ #1 -->
                                <col width="130">

                            <tbody>
                                {% for object in object_list %}
                                <tr>
									<td class="action"><input type="checkbox" /></td>
									<td class="action"><i class="fa {% cycle 'fa-star' 'fa-star-o' %}"></i></td>
									<td class="action"><i class="fa {% cycle 'fa-bookmark-o' 'fa-bookmark-o' 'fa-bookmark' %}"></i></td>
									<td class="action"><i class="fa  {% cycle '' 'fa-check text-warning' 'fa-check text-success' %}"></i></td>
									<td class="time">{{ object.RequesterDateSend|thaidate:"d-m-y" }}</td>
									<td class="name"><a href="#">{{ object.FullName|truncatechars:80 }}</a></td>
									<td>{{ object.sub_unit|default_if_none:"" }}</td>
									<td>{{ object.Unit }}</td>
									<td>
                                        {% if object.get_Status_display == "โสด" %}โสด{% else %}ครอบครัว{% endif %}
                                    </td>
									<td>{{ object.UnitTroubleScore|default_if_none:"-"  }}</td>
									<td>{{ object.PriorityList  }}</td>
									<td></td>									
									<td></td>									
								</tr>
                                {% endfor %}
                                <!-- 
								<tr>
									<td class="action"><input type="checkbox" /></td>									
									<td class="action"><i class="fa fa-star-o"></i></td>
									<td class="action"><i class="fa fa-bookmark"></i></td>
									<td class="action"><i class="fa fa-check"></i></td>
									<td class="time">08:30 PM</td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
								</tr>
								<tr class="read">
									<td class="action"><input type="checkbox" /></td>
									<td class="action"><i class="fa fa-star"></i></td>
									<td class="action"><i class="fa fa-bookmark"></i></td>
									<td class="action"><i class="fa fa-check"></i></td>
									<td class="time">08:30 PM</td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="name"><a href="#">Larry Gardner</a></td>
									<td class="subject"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </a></td>
								</tr>
                                -->
							</tbody>
                        </table>
                    </div>

                {% if is_paginated  %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}

					</div>
					<!-- END INBOX CONTENT -->
					
					<!-- BEGIN COMPOSE MESSAGE -->
					<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-wrapper">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
									</div>
									<form action="#" method="post">
										<div class="modal-body">
											<div class="form-group">
												<input name="to" type="email" class="form-control" placeholder="To">
											</div>
											<div class="form-group">
												<input name="cc" type="email" class="form-control" placeholder="Cc">
											</div>
											<div class="form-group">
												<input name="bcc" type="email" class="form-control" placeholder="Bcc">
											</div>
											<div class="form-group">
												<input name="subject" type="email" class="form-control" placeholder="Subject">
											</div>
											<div class="form-group">
												<textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;"></textarea>
											</div>
											<div class="form-group">														<input type="file" name="attachment">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
											<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send Message</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END COMPOSE MESSAGE -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>


{% endblock %}