{% extends '_minbase.html' %}
{% load thaidate %}
{% load static %}

{% block title %}ARMIS :: รายการขอ นขต.ทอ.{% endblock %}

{% block header %}รายการขอ นขต.ทอ.{% endblock %}


{% block scriptlink %}
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'my_script/modal-with-custom-action.js'%}"></script>
{% endblock %}


{% block script %}

{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <style>
    .icon-size {
        font-size: 20px;
        margin-top:0px;
    }
    .check-size {font-size: 10px;}

    thead tr:first-child, 
    thead tr:nth-child(2){
        text-align: center;
        text-valign: center;
    }

    .unit-list td:not(:last-child){
        text-align: center;
    }

    .unit-data-list td:not(:nth-child(5)){
        text-align: center;
    }

  </style>
{% endblock %}

{% block content%}
<div id="MainAPP">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row mb-2">
                    <div class="col-sm-8"><h4>ปีงบประมาณ 2565</h4> </div>
                    <div class="col-sm-1 text-end">
                        <a href = "{% url 'HomeRequest:xls_person_admin' %}" target = '_blank'><i class="fas fa-file-excel text-success fa-2x"></i></a>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <input type="text"  v-model="create_person_id" placeholder = "เลขบัตรประชาชน" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" @click = "check_create();">สร้างคำขอบ้านพัก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped unit-list">
                    <col width="50">                    
                    <col width="120">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="80">
                    <col width="100">
                    <col width="150">                
                <thead>
                    <tr>
                        <th rowspan = 2>ลำดับ</th>
                        <th rowspan = 2>หน่วยงาน</th>
                        <th rowspan = 2 colspan = 2>รายการคำขอ</th>
                        <th colspan = 6>คำขอในระบบ</th>                                        
                        <th rowspan = 2><i class="fa fa-home text-primary icon-size" ></i> ได้รับจัดสรร</th>
                        <th rowspan = 2>หมายเหตุ</th>
                    </tr>
                    <tr>
                        <th colspan = 2>
                            <i class="fa fa-user text-black icon-size" ></i> ผู้ขอ
                        </th>
                        <th colspan = 2>
                            <i class="fa fa-users text-black icon-size" ></i> นขต.
                        </th>
                        <th>
                            <i class="fa fa-building text-black icon-size" ></i> กพ.ทอ.
                        </th>
                        <th>
                            <i class="fa fa-hourglass-start"></i> รอจัดสรร
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="obj in object_list">                        
                        <td>[[ obj.counter ]]</td>                        
                        <td>[[ obj.short_name ]]</td>                    
                        <td><a href = "#" @click = "show_unit_data_list([[ obj.counter ]], [[ obj.unit_id ]])" ><i class="fa fa-list text-info icon-size" ></i></a></td>
                        <td><a href = "#" @click = "show_xls(obj.unit_id)"><i class="fas fa-file-excel text-success icon-size"></i></a></td>
                        <td>[[ obj.num_RP ]]</td>
                        <td>[[ obj.num_RS ]]</td>
                        <td>[[ obj.num_UP ]]</td>
                        <td>[[ obj.num_US ]]</td>
                        <td>[[ obj.num_PP ]]</td>
                        <td>[[ obj.num_PA ]]</td>
                        <td>[[ obj.num_GH ]]</td>
                        <td></td>
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>
    {# เริ่ม Model แสดงรายการคำขอของหน่วย #}
    <div class="modal fade" id="unit_data_list_modal" tabindex="-1" aria-labelledby="unit_data_list_modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-scrollable ">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unit_data_list_modalLabel">คำขอบ้านพัก [[ unit_data.short_name ]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">  
            <div class = "row">
                <div v-for="index in 6" :key="index" class = "mt-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class = "card text-center shadow rounded-top">
                        <div class = "card-header" v-bind:class = "[card_static[index-1].color, card_static[index-1].bgcolor]">
                            <div class = "row align-items-center">
                                <div class = "col">
                                    <i class="fa fa-2x" v-bind:class = "[card_static[index-1].awesome]"></i>
                                </div>
                                <div class = "col">
                                    <h3 class = "display-6">
                                        [[ num_report[index-1] ]]
                                    </h3>
                                    <h6>[[ card_static[index-1].text ]]</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6 class = "text-dark" @click = "filter_homerequest(index);" style ="cursor: pointer;">แสดงข้อมูล <i class="fa fa-arrow-alt-circle-right"></i></h6>
                        </div>
                    </div>
                </div>
            </div>                   
            <div class = "row mt-4">
                <div class="row mb-2">
              
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('น.5+');" >
                            <label class="form-check-label">น.5 + </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('สัญญาบัตร');" >
                            <label class="form-check-label">สัญญาบัตร</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('ประทวน');" >
                            <label class="form-check-label">ประทวน</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('โสด');" >
                            <label class="form-check-label">โสด</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('สมรส-อยู่ร่วมกัน');"  >
                            <label class="form-check-label">สมรส-อยู่ร่วมกัน</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('สมรส-แยกกันอยู่');"  >
                            <label class="form-check-label">สมรส-แยกกันอยู่</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="checkbox" @click = "toggle_display('หย่า/ม่าย');"  >
                            <label class="form-check-label">หย่า/ม่าย</label>
                        </div>
                        
                    </div>
            
                    <div class="col-md-2">
                    
                        <button class = "btn btn-primary shadow" v-if="filter_data != 'all'" @click="filter_data = 'all'">แสดงทั้งหมด</button>
                    </div>

                </div>

            </div>                   
            <table class="table table-bordered table-hover table-striped caption-top unit-data-list mt-2" >
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="40">
                    <col width="250">
                    <col width="80">
                    <col width="150">
                    <col width="60">
                    <col width="100">
                    <col width="60">
                    <col width="60">
                    <col width="60">
                <thead>
                    <tr>
                        <th>#</th>
                        <th colspan = "3">เอกสาร</th>
                        <th>ยศ ชื่อ นามสกุล</th>
                        <th>สถานภาพ</th>
                        <th>เบอร์โทร</th>
                        <th>ผู้ขอ</th>
                        <th>นขต.</th>
                        <th>กพ.ทอ.</th>
                        <th>อนุมัติ</th>
                        <th>หมายเหตุ</th>                        
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(hm,i) in unit_data.HomeRequest" >
                        <tr v-if="(filter_data == 'all' || hm.ProcessStep == filter_data) && show_rank_status.includes(hm.Status)">
                            <td>[[ i + 1 ]] </td>
                            <td>
                                <i v-if="hm.ProcessStep != 'RequesterProcess'" class="fa fa-lock icon-size" v-bind:class="ProcessStepClass(hm.ProcessStep)" ></i>
                                <i v-else class="fa fa-edit icon-size text-primary" ></i>
                            </td>
                            <td><a href = "#" @click = "show_hr_detail(hm.id);"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                            <td><a href = "#" @click = "show_doc(hm.id);"><i class="fas fa-file-word icon-size"></i></a></td>
                            <td>[[ hm.FullName ]]</td>
                            <td>[[ hm.Status ]]</td>
                            <td>[[ hm.MobilePhone ]]</td>
                            <td>
                                <div v-if="hm.RequesterDateSend">
                                    <a href = "#" :title = "hm.RequesterDateSend"><i class="fa fa-check text-success icon-size" ></i></a>
                                </div>
                                <div v-else-if="hm.ProcessStep === 'RequesterProcess' ">
                                    <small>ร่าง</small>
                                </div>
                            </td>
                            <td>
                                <a v-if="hm.UnitApprover" href = "#" :title = "[hm.UnitApproverName, hm.UnitApproverPhone, hm.UnitDateApproved ]"><i class="fa fa-check text-success icon-size" ></i></a>
                                <a v-else-if="hm.ProcessStep === 'UnitProcess'" href = "#" :title = "[hm.UnitRecieverName, hm.UnitRecieverPhone, hm.UnitDateRecieved ]">                                
                                    <small>รับเรื่อง</small>
                                </a>                             
                                &nbsp;
                                <span v-if="hm.IsUnitEval" class="text-primary font-weight-bold" >
                                    [[ hm.UnitTroubleScore ]]
                                </span>	  
                                <i v-else-if="hm.ProcessStep === 'UnitProcess' && !hm.IsUnitEval" class="far fa-tasks text-danger icon-size"></i>
                            </td>
                            <td>
                                <div v-if="hm.ProcessStep === 'UnitSended'  && ! hm.PersonApprover ">
                                    <button class="btn btn-outline-primary btn-sm" @click="ConfirmPersonRecieved(i, hm.id)"><small>รับเรื่อง</small></button>                                
                                </div>  
                                <div v-else-if="hm.PersonApprover">                                
                                    <a href = "#" :title = "[hm.PersonApproverName, hm.PersonApproverPhone, hm.PersonDateApproved ]"><i class="fa fa-check text-success icon-size" ></i></a>
                                </div>               
                                <div v-if="hm.IsPersonEval">
                                    [[ hm.PersonTroubleScore ]]
                                </div>
                                <div v-else-if="hm.ProcessStep === 'PersonProcess' ">
                                    <a href = "#" @click="evaluate(hm.id)" class="fa-stack" style="vertical-align: top;" >
                                        <i class="far fa-tasks text-warning icon-size"></i>
                                        <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <div v-if="hm.ProcessStep === 'PersonProcess' ">
                                    <span :title = "[hm.PersonRecieverName, hm.PersonRecieverPhone, hm.PersonDateRecieved ]">                                
                                        <small>รอประเมิน</small>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิดหน้าต่าง</button>                
            </div>
            </div>
        </div>
    </div> {# modal div#}

    {# Confirm modal #}
    <div class="modal fade" id="confirm_modal" tabindex="-1" aria-labelledby="confirm_modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm_modalLabel">ยืนยันรับเรื่อง</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                
                รับเรื่องคำขอบ้านพักของ "[[ confirm_text ]]" <br><br>
                ** จะมีการบันทึกข้อมูลผู้รับเรื่องลงระบบ
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" @click="PersonRecieved" class="btn btn-primary">ยืนยัน</button>
            </div>
            </div>
        </div>
    </div>
</div> {# vue element div#}
{% endblock %}


{% block buttom_script %}

<script>
    const MainAPP = {
        delimiters: ['[[', ']]'],
        data() {
            return {
                test_counter: 0,
                unit_data_list_modal : null,
                confirm_modal : null,
                confirm_text :"",
                current_index: 0,                
                show_rank_status : ["โสด","สมรส-อยู่ร่วมกัน","สมรส-แยกกันอยู่","หย่าร้าง","ม่าย",7],
                current_hr_id: 0,
                filter_data : 'all',
                num_report :[],
                create_person_id : "",

                object_list : [
                    {% for object in object_list %}
                    {
                        counter : {{ forloop.counter }},
                        short_name : "{{ object.Unit__ShortName }}",
                        unit_id : {{ object.Unit }},                        
                        num_RP : {{ object.Num_RP }},
                        num_RS : {{ object.Num_RS }},
                        num_UP : {{ object.Num_UP }},
                        num_US : {{ object.Num_US }},
                        num_PP : {{ object.Num_PP }},
                        num_PA : {{ object.Num_PA }},
                        num_GH : {{ object.Num_GH }}
                    } {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                card_static:[
                    {
                        color : "text-dark",
                        bgcolor : "bg-light",
                        awesome : "fa-pen",
                        text : "เริ่มกรอก" 
                    },
                    {                        
                        color : "text-white",
                        bgcolor : "bg-danger",
                        awesome : "fa-list",
                        text : "ส่งหน่วย"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-warning",
                        awesome : "fa-cog fa-spin",
                        text : "นขต.รับ"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-success",
                        awesome : "fa-check",
                        text : "นขต.ส่ง"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-secondary",
                        awesome : "fa-paperclip",
                        text : "กพ.รับเรื่อง"
                    },
                    {
                        color : "text-white",
                        bgcolor : "bg-primary",
                        awesome : "fa-home",
                        text : "รับจัดสรร" 
                    }
                ],

                        
                unit_data : {
                    short_name : "",
                    HomeRequest : []
                }
            }
        },
        mounted() {
            this.unit_data_list_modal = new bootstrap.Modal(document.getElementById("unit_data_list_modal"), {});
            this.confirm_modal = new bootstrap.Modal(document.getElementById("confirm_modal"), {});
            console.log("monted function");
        },
        methods : {
            show_unit_data_list(index, unit_id){
                urltext = "{% url 'HomeRequest:unit_list_admin'  99999 %}";
                new_urltext = urltext.replace("99999",unit_id)
                console.log(new_urltext);

                fetch(new_urltext)
                    .then(response => response.json())
                    .then(data => {
                        this.current_index = index;
                        this.unit_data.HomeRequest = data;
                        console.log('data ',data);
                        this.unit_data.short_name = data[0]["UnitName"];

                        this.num_report[0] = this.object_list[index-1].num_RP ;
                        this.num_report[1] = this.object_list[index-1].num_RS ;
                        this.num_report[2] = this.object_list[index-1].num_UP ;
                        this.num_report[3] = this.object_list[index-1].num_US ;
                        this.num_report[4] = this.object_list[index-1].num_PP + this.object_list[index-1].num_PA ;
                        this.num_report[5] =  this.object_list[index-1].num_GH ;
                        this.unit_data_list_modal.show();
                    });

            },
            show_hr_detail(hr_id){
                urltext = "{% url 'HomeRequest:md' 99999 %}"
        
                new_urltext = urltext.replace("99999",hr_id)
                // console.log(new_urltext)
                fetch_show_modal(new_urltext);
            },
            ConfirmPersonRecieved(index, hr_id){
                this.current_index = index;
                this.current_hr_id = hr_id;
                this.confirm_text = this.unit_data.HomeRequest[index]["FullName"];                
                this.confirm_modal.show();
            },
            PersonRecieved(){
                urltext = "{% url 'HomeRequest:update_process_step' 88888 '99999' %}";
                urltext = urltext.replace("88888",this.current_hr_id)
                new_urltext = urltext.replace("99999","PP")
                // console.log(new_urltext);
                // console.log(index, hr_id);

                fetch(new_urltext)
                    .then(response => response.json())
                    .then(data => {
                        if(data["success"])
                        {
                            this.confirm_modal.hide();
                            this.unit_data.HomeRequest[this.current_index]["ProcessStep"] = 'PersonProcess';
                        }
                        else
                            alert("เกิดข้อผิดพลาด ไม่สามารถรับเรื่องได้");
                    });
            },
            ProcessStepClass(hm_process_step)
            {
                
                switch(hm_process_step)
                {
                    case 'RequesterSended' :  return 'text-danger';
                    case 'UnitProcess' :        return 'text-warning';
                    case 'UnitSended' :         return 'text-success';
                    case 'PersonProcess' :      return 'text-secondary';
                    case 'GetHouse' :      return 'text-primary';
                }
                return '';
                
            },
            num_report_func(step_report)
            {   
                ci = this.current_index - 1 < 0 ? 0 : this.current_index - 1 ;             
                switch(step_report)
                {
                    case 1: return this.object_list[ci].num_RP;
                    case 2: return this.object_list[ci].num_RS;
                    case 3: return this.object_list[ci].num_UP;
                    case 4: return this.object_list[ci].num_US;
                    case 5: return this.object_list[ci].num_PP;
                    case 6: return this.object_list[ci].num_GH;
                }                 
            },
            filter_homerequest(step_report)
            {
                ProcessStep = ['RequesterProcess','RequesterSended','UnitProcess',
                               'UnitSended','PersonProcess','PersonApproved','GetHouse'
                            ];
                console.log(ProcessStep[step_report-1]);
                this.filter_data = ProcessStep[step_report-1];
            },
            toggle_display(status)
            {
                if(status == "หย่า/ม่าย")
                {
                    let index1 = this.show_rank_status.indexOf("หย่าร้าง");
                    let index2 = this.show_rank_status.indexOf("ม่าย");
                    if (index1 !== -1) 
                    {
                        this.show_rank_status.splice(index1,1);       
                        this.show_rank_status.splice(index2,1);       
                    }
                    else             
                    {
                        this.show_rank_status.push("หย่าร้าง");                  
                        this.show_rank_status.push("ม่าย");                  
                    }
                    return ;
                }  

                // กรณีอื่น ๆ 
                let index = this.show_rank_status.indexOf(status);
                // console.log(index);
                // console.log(status);
                // console.log(this.show_rank_status);
                if (index !== -1) 
                    this.show_rank_status.splice(index,1);       
                else             
                    this.show_rank_status.push(status);                  
            },
            check_create()
            {
                // alert(this.create_person_id);
                urltext = "{% url 'HomeRequest:check_create' 99999 %}";
                new_urltext = urltext.replace("99999",this.create_person_id)
                // new_urltext = urltext.replace("99999","PP")
                // console.log(new_urltext);
                // console.log(index, hr_id);

                fetch(new_urltext)
                    .then(response => response.json())
                    .then(data => {
                        
                        if(data["status"] == "exists")
                        {
                            urltext = "{% url 'HomeRequest:manual_update' '99999' %}";
                            manualURL = urltext.replace("99999",data["hr_id"])  
                            window.open(manualURL ,'_blank');
                        }
                        else if(data["status"] != "reject")
                        {
                            urltext = "{% url 'HomeRequest:manual' '99999' %}";
                            manualURL = urltext.replace("99999",this.create_person_id)  
                            window.open(manualURL ,'_blank');
                        }
                    });
            },
            show_doc(hm_id)
            {
                urltext = "{% url 'HomeRequest:doc' '99999' %}";
                docURL = urltext.replace("99999",hm_id)                
                window.open(docURL ,'_blank');
            },
            show_xls(unit_id)
            {
                urltext = "{% url 'HomeRequest:xls' '99999' %}";
                xlsURL = urltext.replace("99999",unit_id)                
                window.open(xlsURL ,'_blank');
            },
            evaluate(hm_id)
            {
                alert('ประเมิน ' + hm_id);
            }
        }       
        
    }

    Vue.createApp(MainAPP).mount('#MainAPP')
</script>
{% endblock buttom_script %}