{% load thaidate %}

{% if processer == 'requester'%}
    {% if object.RequesterDateSend %}
        <a href = "#" title = "{{ object.RequesterDateSend|thaidate:"d M y"}}"><i class="fa fa-check text-success icon-size" ></i></a>
    {% elif  object.get_ProcessStep_display == 'RequesterProcess' %}
        ร่าง
    {% endif %}
{% elif processer == "UnitPerson" %}
    {% if object.UnitApprover %}
        <a href = "#" title = "{{ object.UnitApprover.FullName}} ({{ object.UnitApprover.OfficePhone}}) {{ object.UnitDateApproved|thaidate:"d M y"}}">
            <i class="fa fa-check text-success icon-size" ></i>
        </a>
    {% elif  object.get_ProcessStep_display == 'UnitProcess' %}
        <a href = "#" title = "{{ object.UnitReciever.FullName}} ({{ object.UnitApprover.OfficePhone}}) {{ object.UnitDateRecieved|thaidate:"d M y"}}">
            รับเรื่อง
        </a>
    {% endif %}
{% elif processer == "PersonAdmin" %}    
    {% if object.PersonApprover %}
        <a href = "#" title = "{{ object.PersonApprover.FullName}} ({{ object.PersonApprover.OfficePhone}}) {{ object.PersonDateApproved|thaidate:"d M y"}}">
            <i class="fa fa-check text-success icon-size" ></i>
        </a>
    {% elif  object.get_ProcessStep_display == 'PersonProcess' %}
        <a href = "#" title = "{{ object.PersonReciever.FullName}} ({{ object.PersonReciever.OfficePhone}}) {{ object.PersonDateRecieved|thaidate:"d M y"}}">
            รับเรื่อง
        </a>
    {% endif %}   
{% endif %}