{% load thaidate %}

{% if object.get_ProcessStep_display != 'RequesterCancel' %}
    <tr>                        
        <td>{{ forloop.counter }}</td>
        <td><a href = "#"><i class="fa fa-lock text-dark icon-size" ></i></a></td>
        <td><a href = "{% url 'HomeRequest:detail' object.id %}"><i class="fa fa-eye text-info icon-size" ></i></a></td>
        <td><a href = "{% url 'HomeRequest:doc' object.id %}"><i class="fas fa-file-word icon-size"></i></a></td>
        <td>{{ object.RequesterDateSend|thaidate:"d M y" }}</td>
        <td>{{ object.FullName }} </td>
        <td>{{ object.Unit }}</td>
        <td>{{ object.Requester.MobilePhone }}</td>
        <td>
            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="requester" %}
        </td>
        <td>
            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="UnitPerson" %}
        </td>
        <td>
            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="PersonAdmin" %}              
        </td>
        <td>
            <a href = "{% url 'Trouble:eval' object.id 'Unit' %}" target = "_blank">
                {% if object.UnitApprover and object.PersonApprover  %}
                    <strong>10</strong>
                {% else %}
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-tasks  icon-size"></i>
                            {% if object.UnitApprover %}
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>                                                
                            {% else %}
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                            {% endif %}
                            {% if object.PersonApprover %}
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <span class="badge">5</span>
                            {% else %}
                                <i class="fas fa-question text-danger fa-stack-1x check-size"  style="margin-top: 10px;margin-left: 20px;"></i>
                            {% endif %}
                    </span>
                {% endif %}
            </a>
        </td>
        <td><a href = "#"><i class="fa fa-home text-primary icon-size" ></i></a></td>
    {% if request.resolver_match.url_name == 'list' %}
        <td>
            <a href = "{% url 'HomeRequest:update_process_step' object.id 'UP'%}" class="btn btn-outline-primary btn-sm">รับเรื่อง</a>
            <a href = "{% url 'HomeRequest:update_process_step' object.id 'US'%}" class="btn btn-outline-success btn-sm">ส่งเรื่อง</a>
        </td>
    {% elif request.resolver_match.url_name == 'person_unit_list' %}
        <td>
            <a href = "{% url 'HomeRequest:update_process_step' object.id 'PP'%}" class="btn btn-outline-primary btn-sm">รับเรื่อง</a>
            <a href = "{% url 'HomeRequest:update_process_step' object.id 'PA'%}" class="btn btn-outline-success btn-sm">ส่งเรื่อง</a>
        </td>
    {% endif %}
        
    </tr>      

{% else %}
                    <tr class = "text-muted">
                        <td>{{ forloop.counter }}</td>
                        <td><a href = "#"><i class="fa fa-times text-danger icon-size" ></i></a></td>
                        <td><a href = "#"><i class="fa fa-eye text-info icon-size" ></i></a></td>
                        <td><a href = "{% url 'HomeRequest:doc' 1 %}"><i class="fas fa-file-word icon-size"></i></a></td>
                        <td>{{ object.RequesterDateSend|thaidate:"d M y" }}</td>
                        <td>{{ object.FullName }}</td>                        
                        <td>{{ object.Unit }}</td>
                        <td>{{ object.Requester.MobilePhone }}</td>
                        <td>
                            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="requester" %}
                        </td>
                        <td>
                            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="UnitPerson" %}
                        </td>                        
                        <td>
                            {% include "HomeRequest/row_data/cell_processer.html" with object=object processer="PersonAdmin" %}              
                        </td>
                        <td>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="far fa-tasks  icon-size"></i>                                
                                <i class="fas fa-check text-success fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                                <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 20px;"></i>
                            </span>
                        </td>
                        <td></td>
                        <td>ผู้ขอยกเลิกคำขอ</td>
                    </tr>

{% endif %}