{% load thaidate %}

{% if object.get_ProcessStep_display != 'RequesterCancel' %}
    <tr class = "{{ object.ProcessStep }} status{{ object.Status }} rank{{object.Requester.Rank}}">                        
        <td>{{ forloop.counter }}</td>
        <td>
            {% if object.get_ProcessStep_display != 'RequesterProcess'%}
                {% if object.ProcessStep == 'RS'%}
                    <i class="fa fa-lock text-danger icon-size shadow" ></i>
                {% elif  object.ProcessStep == 'UP'%}
                    <i class="fa fa-lock text-warning icon-size shadow" ></i>
                {% elif  object.ProcessStep == 'US'%}
                    <i class="fa fa-lock text-success icon-size shadow" ></i>
                {% elif  object.ProcessStep in 'PP,PA' %}
                    <i class="fa fa-lock text-secondary icon-size shadow" ></i>
                {% else %}
                    <i class="fa fa-lock text-primary icon-size shadow" ></i>
                {% endif %}
            {% else %}
                <i class="fa fa-edit text-primary icon-size shadow"></i></i>
            {% endif %}
        </td>
        <td><a href = "#" onclick = "modal_hr_detail({{ object.id }})"><i class="fa fa-eye text-info icon-size" ></i></a></td>
        <td>
            <a href = "{% url 'HomeRequest:doc' object.id %}">
                <i class="fas fa-file-word text-info icon-size"></i>
            </a>
        </td>
        <td>{{ object.RequesterDateSend|thaidate:"d M y" }}</td>
        <td>{{ object.FullName }} </td>
        <td>{{ object.get_Status_display }}</td>
        <td>{{ object.Requester.OfficePhone }}</td>
        <td>
            {% include "HomeRequest/row_data/cell_processor.html" with object=object processor="requester" %}
        </td>
        <td>
            {% include "HomeRequest/row_data/cell_processor.html" with object=object processor="UnitPerson" %}
        </td>
        <td>
            {% if object.get_ProcessStep_display == 'UnitProcess' %}
            <a href = "{% url 'Trouble:eval' object.id 'Unit' %}">
                {% if object.IsUnitEval  %}
                    <strong>{{object.TroubleScore}}</strong>
                {% else %}
                    <span class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-tasks  icon-size"></i>
                        <i class="fas fa-question text-danger fa-stack-1x check-size" style="margin-top: 10px;margin-left: 10px;"></i>
                    </span>
                {% endif %}
            </a>
            {% elif object.get_ProcessStep_display == "UnitSended" %}
                <a href = "{% url 'Trouble:view_eval' object.id 'Unit' %}">
                    <strong>{{object.TroubleScore}}</strong>
                </a>
            {% endif %}

        </td>        
        <td>
            {% include "HomeRequest/row_data/cell_processor.html" with object=object processor="PersonAdmin" %}              
        </td>
   
        <td>
            {% comment %} <a href = "#"><i class="fa fa-home text-primary icon-size" ></i></a> {% endcomment %}
        </td>
        <td>
            {% if object.cancel_request %}
                <a href = "#" onclick="return showConfirm('ยืนยันการยกเลิกคำขอ {{ object.Comment }} และข้อมูลของผู้รับ/วันที่รับ จะถูกบันทึกลงระบบ', '{% url 'HomeRequest:update_process_step' object.id 'RC'%}');" class="btn btn-outline-danger btn-sm">ยืนยันการยกเลิกคำขอ</a>
            {% else %}
                {# ถ้าส่งเรื่องมาแล้วให้แสดงปุ่มรับเรื่อง #}
                {% if object.get_ProcessStep_display == 'RequesterSended' %}
                    <a href = "#" onclick="return showConfirm('ยืนยันรับเรื่องขอบ้านพัก {{ object.Requester.FullName }} และข้อมูลของผู้รับ/วันที่รับ จะถูกบันทึกลงระบบ', '{% url 'HomeRequest:update_process_step' object.id 'UP'%}');" class="btn btn-outline-primary btn-sm">รับเรื่อง</a>
                {% endif %}
                {# ถ้าประเมินแล้วให้แสดงปุ่มส่งเรื่อง #}
                {% if object.IsUnitEval and object.ProcessStep not in 'US,PP,PA,GH' %}
                    <a href = "#" onclick="return showConfirm('ยืนยันส่งเรื่องขอบ้านพัก {{ object.Requester.FullName }} และข้อมูลของผู้รับ/วันที่รับ จะถูกบันทึกลงระบบ', '{% url 'HomeRequest:update_process_step' object.id 'US'%}');" class="btn btn-outline-primary btn-sm">ส่งเรื่อง</a>
                {% endif %}
                {# ถ้า Process อยู่ในส่วนของ กพ.นขต. ปุ่มขอแก้ไขจะปรากฎ #}
                {% if object.ProcessStep in 'RS,PP' %}
                    <a href = "#" onclick="return showConfirm('ยืนยันส่งคำขอ  {{ object.Requester.FullName }}  กลับไปแก้ไข ', '{% url 'HomeRequest:update_process_step' object.id 'RP'%}');" class="btn btn-warning btn-sm text-danger">ส่งเรื่องกลับ</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>      

{% else %}
                    <tr class = "{{ object.ProcessStep }} text-muted">
                        <td>{{ forloop.counter }}</td>
                        <td><i class="fa fa-times text-danger icon-size" ></i></td>
                        <td><a href = "#"  onclick = "modal_hr_detail({{ object.id }})"><i class="fa fa-eye  icon-size text-secondary" ></i></a></td>
                        <td><a href = "{% url 'HomeRequest:doc' 1 %}"><i class="fas fa-file-word icon-size  text-secondary"></i></a></td>
                        <td>{{ object.RequesterDateSend|thaidate:"d M y" }}</td>
                        <td>{{ object.FullName }}</td>                        
                        <td>{{ object.Unit }}</td>
                        <td>{{ object.Requester.OfficePhone }}</td>
                        <td>
                            <i class="fa fa-times text-danger icon-size" ></i>
                        </td>
                        <td>
                            <i class="fa fa-times text-danger icon-size" ></i>
                        </td>                        
                        <td>
                            <i class="fa fa-times text-danger icon-size" ></i>
                        </td>
                        <td>
                            <i class="fa fa-times text-danger icon-size" ></i>
                        </td>
                        <td></td>
                        <td>ผู้ขอยกเลิกคำขอ</td>
                    </tr>

{% endif %}