{% load static %}
{% load common_tags %}
<!doctype html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        ARMIS :: Airforce Resident Management Information System
      {% endblock %}    
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/armis.png' %}">
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'assets/dist/css/navbar.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'assets/dist/css/navbar-top-fixed.css' %}" rel="stylesheet">
    <link href="{% static 'my_script/logo.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>




    <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!-- Custom styles for this template -->
    
    <style>
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
      }

      .navbar-dark .navbar-nav .nav-link{
        color:white;
      }

      .navbar-dark .navbar-nav a.nav-link:hover{
        background:rgba(5,5,5,1);
        color:white
      }

      .footer {
        grid-row-start: 2;
        grid-row-end: 3;
      }      

      footer div img {
        width : 35px
      }


 
    </style>

    {% block style %}{% endblock %}
    
    {% block scriptlink %}{% endblock %}

    <script>
      {% block script %}{% endblock %}
    </script>  
 </head>
  <body>
    <main>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">      
      <a class="navbar-brand Logo-Brand" href="/" >ARMIS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            {% if request.resolver_match.url_name == 'Home' %}
              <a href="#" class="nav-link text-white"></a>
            {% else %}
              <a href="{% url 'HomeRequest:af_person'%}" class="nav-link text-secondary"></a>
            {% endif %}
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-fw fa-edit"></i> รายงานขอบ้านพัก</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              <li>
                <a class="dropdown-item" href="{% url 'HomeRequest:process_flow'%}">
                  <i class="fas fa-tasks"></i> 
                  ขั้นตอนการดำเนินการ
                </a>
              </li>
            {% if request.user|has_group:"RTAF_NO_HOME_USER" %}
              <li>
                <a class="dropdown-item" href="{% url 'HomeRequest:af_person'%}">
                  <i class="fa fa-fw fa-user"></i> 
                  แบบฟอร์มขอบ้านพัก
                </a>
              </li>
            {% endif %}
            {% if request.user|has_group:"PERSON_UNIT_ADMIN" %}
              <li>
                <a class="dropdown-item" href="{% url 'HomeRequest:list'%}">
                  <i class="fa fa-fw fa-users"></i> 
                  รายการคำขอ {{ request.user.CurrentUnit.ShortName }}
                </a>
              </li>
            {% endif %}

            {% if request.user|has_group:"PERSON_ADMIN" %}
              <li><a class="dropdown-item" href="{% url 'HomeRequest:unitlist'%}"><i class="fa fa-building"></i> รายการคำขอ นขต.ทอ.</a></li>
            {% endif %}
            </ul>
          </li>    

{% comment %} 
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">คำขอบ้านพัก</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
{% endcomment %}
        </ul>
{% comment %} 
        <form class="ms-auto">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
{% endcomment %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item float-right">
            <a class="nav-link" href="#"><i class="fas fa-address-card"></i> Profiles</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item float-right">
            <a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-user-cog"></i> Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i> logout</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
    
    <div class="container-fluid">
    
    {% include "DisplayMessage.html" %}
    {% comment %} {{request.resolver_match}} {% endcomment %}

      <div class="row mt-2">
        <div class="col-xl-9">
          <h3>{% block header %}ขั้นตอนการขอบ้านพัก{% endblock %}</h3>          
        </div>
        <div class="col-xl-3 ms-auto text-end">
            <h5>{% block header_right %} {{ request.user.FullName }} : {{ request.user.CurrentUnit }}{% endblock %}</h5>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xl-12">
          <hr class="mt-0 mb-4">       
        </div>
      </div>      
      {% block CardRow %}

      {% endblock %}
      <div class="mt-4">
        <div class="col-xl-12">
          {% block content %}
            <img src = "{% static 'images/requestflow.png' %}"
          {% endblock %}
        </div>
      </div>
    </div>
</main>
    {% comment %} {% include "modal_message.html" %} {% endcomment %}
    {% include "footer.html" %}

    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>

    {% block modal %}
    {% endblock modal %}
  </body>
    {% block buttom_script %}
    {% endblock buttom_script %}
</html>