{% if messages %}    
    <div class="card-content">                  
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>                                            
        {% else %}
            <div class="alert alert-{{ message.tags }}">
                <strong>{{ message.tags }}</strong> {{ message }}
            </div>                        
        {% endif %}
    {% endfor %}        
</div>
{% endif %}

{% if form.errors or co_resident_formset.errors %}
<div class="card-content">   
  <div class="alert alert-danger">
      {% if form.errors  %}
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <a href="#{{ field.id_for_label }}" class="error"><strong>{{ field.label }}:</strong> {{ error|escape }}</a>
            </div> 
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
      {% endif %}

      {% if co_resident_formset.errors %}
        <div class="alert alert-danger">
          <a href="#co_residence" class="error"><strong>{{ field.label }}:</strong> ข้อมูลผู้อาศัยร่วมผิดพลาด</a>
        </div>
      {% endif %}
  </div>
</div>
{% endif %}