{% extends '_minbase.html' %}

{% block title %}ARMIS ระบบสารสนเทศเพื่อการจัดการบ้านพักอาศัย ทอ.{% endblock %}


{% block header %}
ข้อมูลปีงบประมาณ 65
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var form = document.getElementById("form-id");

      document.getElementById("btn-save").addEventListener("click", function () {
        if(document.getElementById("comment-text").value == "")
        {
          return false;
        }
        if(confirm("ยืนยันส่งข้อมูล"))
          form.submit();
      });
  }, false);
</script>
{% endblock %}


{% block header_right %}{{ request.user.FullName}}{% endblock %}

{% block CardRow %}
    {% comment %} 
    <div class = "row">        
        {% include "project/card.html" with color="info" awesome="fa-home" number="175" text="บ้านรอจัดสรร"%}          
        {% include "project/card.html" with color="warning" awesome="fa-users" number="712" text="คำขอบ้านพัก"%}  
        {% include "project/card.html" with color="success" awesome="fa-check" number="64" text="ได้รับจัดสรร"%}
        {% include "project/card.html" with color="primary" awesome="fa-home" number="14/65" text="คำสั่งบ้านล่าสุด"%}        
    </div>  
    {% endcomment %}
{% endblock %}

{% block body%}
<main class = "m-3">
    <div class="row g-5">
      <div class="col-md-6">
        <h3>ระบบสารสนเทศเพื่อการจัดการบ้านพัก ทอ.</h3>
        <p class="fs-6">
            คณก.บ้านพักอาศัย ทอ. ซึ่งมี รอง ผบ.ทอ.เป็นประธานกรรมการ มีอำนาจและหน้าที่ วางแผน อำนวยการ ควบคุม กำกับดูแล และบริหารจัดการเกี่ยวกับการพักอาศัยในบ้านพักอาศัยของ ทอ.ให้เป็นไปด้วยความเรียบร้อย เกิดประโยชน์สูงสุด และเป็นไปตามระเบียบ ฯ
        </p>
        <p class="fs-6">
            การบริหารจัดการบ้านพักอาศัย ทอ. จะเป็นการดำเนินการในรูปแบบบูรณาการร่วมกันของหลาย ๆ หน่วยงาน ไม่ว่าจะเป็น กพ.ทอ., สน.ผบ.ดม., กง.ทอ., กบ.ทอ., สปช.ทอ. และ ชย.ทอ. จึงมีความจำเป็นที่จะต้องใช้ข้อมูลต่าง ๆ ร่วมกัน ทาง คณก.บ้านพักฯ จึงมีแนวคิดในการพัฒนาระบบสารสนเทศในการบริหารจัดการบ้านพักอาศัย ทอ. โดยร่วมกับ ศซว.ทอ.เพื่อดำเนินการให้เห็นเป็นรูปธรรม
        </p>
        <p class="fs-6">ระบบสารสนเทศเพื่อการจัดการบ้านพักอาศัย ทอ. เป็นระบบการบริหารจัดการบ้านพักอาศัย ทอ. แบบบูรณาการสำหรับใช้งานแบบออนไลน์ ยกระดับการเข้าถึงสิทธิและสวัสดิการด้านกำลังพลด้วยระบบเทคโนโลยีสารสนเทศเพื่อให้ได้รับข้อมูลที่ถูกต้อง รวดเร็ว และสอดคล้องกับฐานวิถีชีวิตใหม่ (NEW NORMAL) </p>       
      </div>

      <div class="col-md-6">
        <h3>การพัฒนา ARMIS แต่ละเฟส</h3>
        <p>เนื่องจากหน่วยงานที่เกี่ยวข้องกับการบริหารบ้านพักอาศัย ทอ. มีหลายหน่วยซึ่งมีหน้าที่แตกต่างกันตามภาระงาน ความจำเป็นจะต้องใช้ระบบสารสนเทศจึงแตกต่างและมีความหลากหลาย ไม่ว่าจะเป็น จนท.ของหน่วยงานที่เกี่ยวข้อง ขรก.ทอ.ทั้งที่มีบ้านพักอาศัย และยังไม่มีบ้านพักอาศัย ตลอดจน จนท.ของหน่วยขึ้นตรง ทอ. ทางทีมพัฒนาจึงแบ่งขั้นตอนการพัฒนาเป็นเฟสต่าง ๆ เบื้องต้นดังนี้</p>
        <ul class="icon-list">
            <li>เฟส 1 ส่วนการส่งคำขอบ้านพักแบบ Online <i class="fas fa-hand-point-left text-danger"></i> <font class = "text-danger">[ต.ค.64 - ม.ค.65]</font></li>
            <li>เฟส 2 ส่วนการจัดสรร ออกคำสั่งและเข้าพักอาศัย</li>
            <li>เฟส 3 ส่วนตรวจสภาพบ้านพัก การร้องเรียนร้องทุกข์ การดูแลบ้านพักในส่วน สน.ผบ.ดม.</li>
        </ul>
        <p class="col-md-12">
            หาก ขรก.ท่านใดตรวจพบข้อผิดพลาดของโปรแกรม หรือมีข้อเสนอแนะต่าง ๆ สามารถส่งข้อมูลให้ทีมงานเพื่อนำไปปรับปรุงต่อไป
        </p>
        <div class="mb-2">          
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#getFeedbackModalCenter">ให้ข้อเสนอแนะ</button>
        </div>
        
      </div>
    </div>
    
  </main>
  

{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="getFeedbackModalCenter" tabindex="-1" aria-labelledby="getFeedbackModalCenterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="getFeedbackModalCenterLabel">ส่งข้อมูล</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form-id" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="message-text" class="col-form-label">ข้อผิดพลาด/ข้อเสนอแนะ:</label>
            <textarea name="text" required="" id="comment-text" class="form-control"  rows = 4></textarea>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">ผู้ส่ง:</label>
            <input type="text" value = "{{ request.user.FullName }} ({{ request.user.CurrentUnit }})" class="form-control" id="recipient-name" Disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button id = "btn-save" type="button" class="btn btn-primary">บันทึก</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}