{% extends '_minbase.html' %}
{% load static %}
{% block header %}
<h5>อ่านกันสักนิด จะไม่ผิดกติกา ลดเวลาแก้ไข</h5>
{% endblock %}
{% block style %}
<style>
    body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    }

    .container {
    max-width: 960px;
    }

    .pricing-header {
    max-width: 700px;
    }

    .fix-height{
        display:block;
        width:100%;
        height:130px;
        overflow:auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">ข้อควรรู้เกี่ยวกับการขอบ้านพัก ทอ.</h4>
          </div>
          <div class="card-body fix-height">            
            <p class = "my-0 p-1">
              <li>จะต้องส่งคำขอบ้านพักเมื่อไร ขั้นตอนการพิจารณาอย่างไร</li> 
              <li>คุณสมบัติของผู้ขอบ้านพักอาศัย</li>
            </p>      
          </div>
          <div class="card-footer text-end">
                <button class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#ProcessStepModal">รายละเอียด</button>
          </div>  

        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">ประเภทและเขตบ้านพักของ ทอ.</h4>
          </div>
          <div class="card-body fix-height">
              <li>บ้านพักอาศัย ทอ. มีกี่แบบ  พ., ร., ฟส., ฟป., ป. และใครสามารถขอพักในบ้านแบบใดได้บ้าง</li>
              <li>เขตที่ตั้งของบ้านพัก เขต 1, เขต 2, เขต 3, สีกัน ดอนเมือง ฯ</li>
          </div>
          <div class="card-footer text-end">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ZoneAndTypeModal">รายละเอียด</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">คณก.บ้านพักอาศัย ทอ.</h4>
          </div>
          <div class="card-body fix-height">
            <p>
              หน่วยงานต่าง ๆ ที่เป็นผู้ดูแล/บริหารจัดการบ้านพักอาศัย ทอ. 
            </p>
          </div>
          <div class="card-footer text-end">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CommiteeModal">รายละเอียด</button>
          </div>  
        </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="ProcessStepModal" tabindex="-1" aria-labelledby="ProcessStepModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ProcessStepModalLabel">ขั้นตอนและระเบียบการขอบ้านพัก ทอ.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class = "my-0 p-1  bg-info">
              <b>รูปแบบการดำเนินการเกี่ยวกับการขอ/จัดสรรบ้านพัก</b>
              <li><b>ขอครั้งเดียวพิจารณา 1 ปี งป.</b></li>
              <li><b>ออกคำสั่งบ้านพักปีละหลายครั้ง</b></li>
              <li><b>ส่งคำขอได้ตลอดทั้งปี</b></li>
              <li><b>มี กปค.สปพ.กพ.ทอ.เป็นผู้ดูแล</b></li>              
            </p>
            
            <p class = "my-0 p-1 bg-info">
              <b>คุณสมบัติผู้มีสิทธิ์ขอบ้านพักอาศัย ทอ.</b>
              <li><b>ดำรงตำแหน่งอยู่ส่วนกลาง</b></li>
              <li><b>ไม่เบิกค่าเช่าซื้อ</b></li>
              <li><b>ยึดข้อมูลตาม HRIS</b> สิทธิการขอบ้านพักอาศัย ทอ.เป็นไปตามระเบียบ ทอ.ว่าด้วยการพักอาศัย ทอ. พ.ศ.๒๕๖๐ และเป็นไปตามข้อมูลในระบบ HR กรณีข้อมูลส่วนบุคคลของท่านไม่ถูกต้องกรุณาแจ้ง นกพ.หน่วย เพื่อดำเนินการในส่วนที่เกี่ยวข้องต่อไป</li>
            </p>
      </div>
      <div class="modal-footer text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ZoneAndTypeModal" tabindex="-1" aria-labelledby="ZoneAndTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content"  style = "height: 60%;">
      <div class="modal-header">
        <h5 class="modal-title" id="ZoneAndTypeModalLabel">ประเภทและเขตบ้านพักของ ทอ.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">ประเภทบ้านพัก</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">เขตบ้านพัก</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">ประเภทและเขต</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p class = "my-0 p-1  bg-info">
              <b>บ้านพัก ทอ. ประเภทครอบครับ</b>
              <li><b>พ.</b> บ้านเดี่ยวนายพลอากาศ</li>
              <li><b>น.บ้านเดี่ยว</b> บ้านเดี่ยว น.อ.พิเศษ</li>
              <li><b>น.5 หลัง</b>  เรือนแถว น.อ.พิเศษ</li>
              <li><b>ร.</b> เรือนแถวสัญญาบัตร</li>
              <li><b>ฟส.</b> แฟลตสัญญาบัตร</li>
              <li><b>ฟป.</b> แฟลตประทวน</li>
              <li><b>ป.</b> เรือนแถวประทวน</li>
            </p>

            <p class = "my-0 p-1 bg-info">
              <b>บ้านพัก ทอ. ประเภทโสดชาย</b>
              <li><b>ฟส.(โสด)</b> แฟลตสัญญาบัตร (โสด)</li>
              <li><b>ฟป.(โสด)</b> แฟลตประทวน (โสด)</li>
            </p>

            <p class = "my-0 p-1 bg-info">
              <b>บ้านพัก ทอ. ประเภทโสดหญิง</b>
              <li><b>ฟส.(โสด ญ.)</b> แฟลตสัญญาบัตร (โสดหญิง)</li>
              <li><b>ฟป.(โสด ญ.)</b> แฟลตประทวน (โสดหญิง)</li>
            </p>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class = "my-0 p-1 text-white bg-primary">
              <b>เขตบ้านพักฝั่งท่าดินแดง</b> 
              <li><b>เขต 1</b> (ติด รร.นนก - รร.ฤทธิยะ)</li> 
              <li><b>เขต 2</b> (บริเวณร้านค้า ทอ.เดิม - รร.อนุบาลฤทธิยะ)</li>
              <li><b>เขต 3</b> (รร.อนุบาลฤทธิยะ - ปั๊ม ปตท.สะพานใหม่)</li>
              <li><b>เขต 7</b> (ลาดเป็ด)</li>
            </p>
            <p class = "my-0 p-1 text-white bg-primary">
              <b>เขตบ้านพักฝั่งดอนเมือง</b>
              <li><b>เขต 6 สีกัน</b> (ก่อนถึง รพ.สีกัน หลังสถานีตำรวจดอนเมือง)</li>
              <li><b>เขต 6 รถไฟ</b> (สถานีรถไฟดอนเมือง)</li>
            </p>
            <p class = "my-0 p-1 text-white bg-primary">
              <b>เขตบ้านพักบางซื่อ</b>              
              <li><b>เขต เขตบางซื่อ</b> (บางซื่อ)</li>
            </p>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <img src = "{% static 'images/homezone.gif'%}" class = "img-fluid" border = 1>
          </div>
        </div>


      </div>
      <div class="modal-footer text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CommiteeModal" tabindex="-1" aria-labelledby="CommiteeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CommiteeModalLabel">ข้อมูล คณก.บ้านพัก</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class = "my-0 p-1">
             
              <p>
พุทธศตวรรษกิฟท์ฮาโลวีน แฟรี่ ออกแบบ โบรชัวร์สตูดิโอโอเคแมกกาซีนดีลเลอร์ บาบูนเอ็นจีโอโอเพ่นเซ็นเซอร์ คอร์ปอเรชั่นอาร์พีจีปัจเจกชน วิว รีไทร์สจ๊วตไพลินท็อปบูต หลวงตายูวีซีเรียสป๋อหลอซิม โซลาร์บร็อคโคลีแคมเปญตี๋ แฟนตาซีโหลยโท่ยพีเรียด เอาท์พรีเมียร์บ๊อกซ์ซาบะซูเอี๋ย สเตชั่นออร์แกน โปรโมททอมออร์แกนทอร์นาโด แหววแพนด้าสปาตัวตน แล็บอัลบัมอาร์พีจีเอสเพรสโซ

</p>

<p>
ศากยบุตรบิลไลท์เดโม เทอร์โบสังโฆคันถธุระปัจเจกชน วีเจ โฟล์ควัคค์วาไรตี้เทวาโพลารอยด์ เยอบีร่าเทรลเลอร์ไทม์ชาร์ป ซัพพลายบลูเบอร์รีลิมิตบูมตุ๊กตุ๊ก วอเตอร์รีทัชโจ๋จูนบริกร บูติคซันตาคลอสไชน่าก๋ากั่นนางแบบ ลีเมอร์ป๊อกไอติม กู๋วิทย์ราเมนแบ็กโฮเอาต์ พันธกิจโพลล์อุรังคธาตุ คอมเมนท์เทรนด์ชาร์ป แบล็คสตูดิโอซันตาคลอส เช็งเม้งมาม่าอุปการคุณ คอร์ปอเรชั่นโปรโมเตอร์อุปทาน จูนเอสเปรสโซเอนทรานซ์

</p>
              
            </p>


      </div>
      <div class="modal-footer text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}