<div class = "col-sm-3">
    <div class = "card text-center shadow rounded-top">
        <div class = "card-header bg-{{color}} text-white">
            <div class = "row align-items-center">
                <div class = "col">
                    <i class="fa {{awesome}} fa-4x"></i>
                </div>
                <div class = "col">
                    <h3 class = "display-5">{{number}}</h3>
                    <h5>{{text}}</h5>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <h6 class = "text-{{color}}">แสดงข้อมูล <i class="fa fa-arrow-alt-circle-right"></i></h6>
        </div>
    </div>
</div>